prj/Paper-Essence.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Paper-Essence
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/paddleocr:0.1.4@7b732d21da7e41c97ec4f8547742a3b34777deb3b7ad2e0c56948b5de45219c8
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/wenxin:0.1.0@29923083c3ffe5d309a00289b1752cb5d2b83d189d3def2832535201f9a70497
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: lyf/ernie-paddle-aistudio-api:0.0.1@8416aef33d83954c8a44588f6cbdd12d1694a3b83adf8de8345f62584e67aa85
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: ff0fc857-b289-413c-a461-6718b593c2ee
    name: table_name
    selector:
    - env
    - table_name
    value: pushed_papers
    value_type: string
  - description: ''
    id: ab5124af-50a4-4219-814c-b7ec7939d259
    name: SMTP_PORT
    selector:
    - env
    - SMTP_PORT
    value: '465'
    value_type: string
  - description: ''
    id: 5b4dcaeb-af7b-4272-86c4-dc79795d359d
    name: SMTP_SERVER
    selector:
    - env
    - SMTP_SERVER
    value: smtp.163.com
    value_type: string
  - description: ''
    id: 4e52b523-a4c3-43b9-b47a-fb71ecd5bf58
    name: SMTP_PASSWORD
    selector:
    - env
    - SMTP_PASSWORD
    value: ''
    value_type: secret
  - description: ''
    id: 60c5cd5b-0463-4b20-928e-e41c5ab5d0f4
    name: SMTP_USER
    selector:
    - env
    - SMTP_USER
    value: ''
    value_type: secret
  - description: ''
    id: 2c4147b5-8701-402d-99e4-fc08ee66d9f2
    name: MY_LLM_KEY_MODE
    selector:
    - env
    - MY_LLM_KEY_MODE
    value: OPENAI_KEY
    value_type: string
  - description: ''
    id: a30c1c7e-97cb-4196-9f4a-a656810f0322
    name: MY_RAW_TOPIC
    selector:
    - env
    - MY_RAW_TOPIC
    value: RAG系统
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: iteration-start
        targetType: code
      id: 1768746557884start-source-1768808528449-target
      selected: false
      source: 1768746557884start
      sourceHandle: source
      target: '1768808528449'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: end
      id: 1768746557884-source-1768809610681-target
      selected: false
      source: '1768746557884'
      sourceHandle: source
      target: '1768809610681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: template-transform
      id: 1768746557884-source-1768830612348-target
      selected: false
      source: '1768746557884'
      sourceHandle: source
      target: '1768830612348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1768830612348-source-1768809610681-target
      selected: false
      source: '1768830612348'
      sourceHandle: source
      target: '1768809610681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-schedule
        targetType: code
      id: 1769347575869-source-1769347686844-target
      selected: false
      source: '1769347575869'
      sourceHandle: source
      target: '1769347686844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1769349445686-source-1768746557884-target
      selected: false
      source: '1769349445686'
      sourceHandle: source
      target: '1768746557884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1769347686844-source-1769668760137-target
      selected: false
      source: '1769347686844'
      sourceHandle: source
      target: '1769668760137'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1769668760137-false-1768749653285-target
      selected: false
      source: '1769668760137'
      sourceHandle: 'false'
      target: '1768749653285'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1769669568004-false-1769350813065-target
      selected: false
      source: '1769669568004'
      sourceHandle: 'false'
      target: '1769350813065'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: tool
        targetType: if-else
      id: 1768813194176-source-1769670205504-target
      selected: false
      source: '1768813194176'
      sourceHandle: source
      target: '1769670205504'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: if-else
        targetType: llm
      id: 1769670205504-false-1768746991605-target
      selected: false
      source: '1769670205504'
      sourceHandle: 'false'
      target: '1768746991605'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1768830612348-source-1769364120122-target
      selected: false
      source: '1768830612348'
      sourceHandle: source
      target: '1769364120122'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1768749653285-source-1769759651750-target
      source: '1768749653285'
      sourceHandle: source
      target: '1769759651750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: llm
        targetType: code
      id: 1768746991605-source-1769759854056-target
      source: '1768746991605'
      sourceHandle: source
      target: '1769759854056'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: code
      id: 1769759854056-source-1768808667129-target
      source: '1769759854056'
      sourceHandle: source
      target: '1768808667129'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1769759887027-source-1769349445686-target
      source: '1769759887027'
      sourceHandle: source
      target: '1769349445686'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1769350813065-source-1769759887027-target
      source: '1769350813065'
      sourceHandle: source
      target: '1769759887027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1768749419467-source-1769669568004-target
      source: '1768749419467'
      sourceHandle: source
      target: '1769669568004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: tool
      id: 1769759651750-source-1769954998188-target
      source: '1769759651750'
      sourceHandle: source
      target: '1769954998188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1769954998188-source-1768749419467-target
      selected: false
      source: '1769954998188'
      sourceHandle: source
      target: '1768749419467'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: tool
      id: 1768808528449-source-1769957710193-target
      source: '1768808528449'
      sourceHandle: source
      target: '1769957710193'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: tool
        targetType: tool
      id: 1769957710193-source-1768813194176-target
      source: '1769957710193'
      sourceHandle: source
      target: '1768813194176'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1769668760137-true-17702096836960-target
      source: '1769668760137'
      sourceHandle: 'true'
      target: '17702096836960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17702096836960-source-1769759651750-target
      source: '17702096836960'
      sourceHandle: source
      target: '1769759651750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1769669568004-true-17702097600540-target
      source: '1769669568004'
      sourceHandle: 'true'
      target: '17702097600540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 17702097600540-source-1769759887027-target
      source: '17702097600540'
      sourceHandle: source
      target: '1769759887027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: if-else
        targetType: llm
      id: 1769670205504-true-1770209844836-target
      source: '1769670205504'
      sourceHandle: 'true'
      target: '1770209844836'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: llm
        targetType: code
      id: 1770209844836-source-1769759854056-target
      source: '1770209844836'
      sourceHandle: source
      target: '1769759854056'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 456.90595032612896
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1769349445686'
        - top_papers
        output_selector:
        - '1768808667129'
        - merged_paper
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1768746557884start
        title: 迭代
        type: iteration
        width: 2337.79772851087
      height: 457
      id: '1768746557884'
      position:
        x: -91.04013298396148
        y: 29.47901850943859
      positionAbsolute:
        x: -91.04013298396148
        y: 29.47901850943859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2338
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1768746557884start
      parentId: '1768746557884'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: -67.04013298396148
        y: 97.47901850943859
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k
          provider: langgenius/wenxin/wenxin
        prompt_template:
        - id: f5b1fb7d-6e09-4847-a146-d397f127ef68
          role: system
          text: "# Role\n你是一名资深的计算机与AI领域审稿人。你需要根据提供的论文摘要和OCR正文片段，总结出论文的核心技术细节。\n\n\
            # Input\n- Title: {{#1768808528449.title_str#}}}\n- Abstract: {{#1768808528449.summary_str#}}}\n\
            - OCR Text: {{#1768813194176.text#}}}\n\n# Task\n基于以上输入，提取并总结以下 7 个关键字段。\n\
            \n**\U0001F6A8 核心原则（Core Principles）：**\n1.  **拒绝废话**：不要输出“本文提出了一种新颖的方法”这种套话，直接说**具体是什么方法**。\n\
            2.  **深挖细节**：如果没有标准模型名，必须总结其**算法逻辑、损失函数设计或模块交互方式**。\n3.  **数据优先**：在 Metrics\
            \ 中，优先展示**对比 SOTA 的提升幅度**，而不仅仅是绝对值。\n4.  **禁止 N/A**：如果文中未明确，根据上下文进行**合理的专家推断**（Inferred），但不要捏造。\n\
            \n# Fields Guide\n\n1.  **One_Liner** (String):\n    * (中文) **一句话痛点与解决方案**。\n\
            \    * 格式：*“针对 [具体痛点/任务]，提出 [核心方法/架构]，实现了 [核心价值]。”*\n    * 示例：“针对长文本幻觉问题，提出基于知识图谱的动态检索增强框架，将事实准确率提升了\
            \ 15%。”\n\n2.  **Architecture** (String):\n    * (中文) **模型架构与关键创新点（分点总结）**。\n\
            \    * **必须包含**：核心模块名称、特定的数学机制（如 Attention 变体）、Loss 函数设计或训练策略。\n    *\
            \ **格式要求**：请使用 `\\n- ` 进行换行分点，确保在 UI 上显示清晰。\n    * *示例*：\n        \"提出\
            \ Llama-adapter-v2 架构：\\n- 引入零初始化注意力机制，解决训练初期不稳定性；\\n- 采用两阶段微调策略，先优化只读参数再全量微调；\\\
            n- 设计了多模态对齐投影层，实现图像特征的无损注入。\"\n\n3.  **Dataset** (String):\n    * (中文)\
            \ **数据来源与规模**。\n    * 优先提取：**数据集名称** + **数据量级**（如 1M, 70k, 3000 hours）。\n\
            \    * 如果是私有/合成数据，描述其**生成逻辑**或**来源领域**（如“GPT-4生成的 50k 代码指令对”）。\n\n4. \
            \ **Metrics** (String):\n    * (中文) **核心性能指标**。\n    * 提取关键榜单（Benchmarks）上的表现。\n\
            \    * **关键**：如果有对比，请写出 *“比 SOTA (如 ResNet-50) 提升了 X%”* 或 *“参数量减少 Y% 的同时精度持平”*。\n\
            \    * 无数字时，描述其具体的**定性优势**（如“在 8k 上下文长度下仍保持连贯”）。\n\n5.  **Chinese_Abstract**\
            \ (String):\n    * (中文) **学术级摘要翻译**。\n    * 要求：信达雅，使用标准的学术术语（如：Ablation\
            \ study -> 消融实验, Robustness -> 鲁棒性, End-to-end -> 端到端）。\n\n6.  **Affiliation**\
            \ (String):\n    * 从 OCR 文本中中提取作者所属的机构。\n    **清洗指令**：去除无关的地址细节（如街道号、邮编）。多个机构用“;\
            \ ”分隔。\n    **示例**：清华大学; 微软亚洲研究院 (MSRA)。\n\n7.  **Code_Url** (String):\n\
            \    * **高优先级搜索**。\n    * 查找范围：Abstract, Introduction, Conclusion 以及 OCR\
            \ 的页眉页脚。\n    * **严格鉴别**：\n        1. 必须是**本论文**的官方实现（通常伴随 \"Official\
            \ implementation\", \"Code is released at\"）。\n        2. **排除** 引用文献中的链接（即排除出现在\
            \ `[...]` 或 Reference 章节的链接）。\n        3. 必须以 `http` 开头。\n    * *Output*：仅输出\
            \ URL。若确无代码，输出 \"N/A\"。\n\n# Output Format\n请直接输出纯 JSON 对象，确保可以被 `json.loads`\
            \ 解析。不要包含 Markdown 代码块标记（```json）。\n\n{\n  \"One_Liner\": \"...\",\n \
            \ \"Architecture\": \"...\",\n  \"Dataset\": \"...\",\n  \"Metrics\":\
            \ \"...\",\n  \"Chinese_Abstract\": \"...\",\n  \"Affiliation\": \"...\"\
            ,\n  \"Code_Url\": \"...\"\n}"
        selected: true
        title: (LLM)分析
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1768746991605'
      parentId: '1768746557884'
      position:
        x: 1491.5733003352702
        y: 221.905950326129
      positionAbsolute:
        x: 1400.5331673513087
        y: 251.38496883556758
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import urllib.request\nimport urllib.parse\nimport json\nimport ssl\n\
          import xml.etree.ElementTree as ET\nfrom datetime import datetime, timedelta\n\
          import re\n\ndef main(topic: str, days_lookback: int, count: int, supabase_output:\
          \ list = None) -> dict:\n    \"\"\"\n    ArXiv 搜索 - 动态根据topic搜索论文\n    \"\
          \"\"\n    # 计算日期\n    today = datetime.now()\n    days = int(days_lookback)\
          \ if days_lookback else 1\n    cutoff_date = today - timedelta(days=days)\n\
          \    \n    cutoff_str = cutoff_date.strftime('%Y-%m-%d')\n    today_str\
          \ = today.strftime('%Y-%m-%d')\n    \n    # 解析已推送的论文记录\n    pushed_ids =\
          \ []\n    if supabase_output and isinstance(supabase_output, list) and len(supabase_output)\
          \ > 0:\n        try:\n            first_item = supabase_output[0]\n    \
          \        if isinstance(first_item, dict):\n                data_list = first_item.get(\"\
          data\", [])\n                if isinstance(data_list, list):\n         \
          \           for record in data_list:\n                        if isinstance(record,\
          \ dict):\n                            arxiv_id_with_braces = record.get(\"\
          arxiv_id\", \"\")\n                            if arxiv_id_with_braces:\n\
          \                                # 提取arxiv_id，处理{{}}格式\n               \
          \                 arxiv_id = arxiv_id_with_braces.strip('{}')\n        \
          \                        if arxiv_id:\n                                \
          \    pushed_ids.append(arxiv_id.strip())\n        except Exception:\n  \
          \          pass\n    \n    debug_info = f\"已推送论文ID数: {len(pushed_ids)}\"\
          \n\n    # 动态构建查询字符串\n    def build_query_from_topic(topic_str):\n      \
          \  \"\"\"\n        根据topic字符串构建ArXiv查询\n        支持多种格式：\n        1. 简单关键词:\
          \ \"machine learning\"\n        2. 布尔查询: \"machine learning\" AND \"deep\
          \ learning\"\n        3. 字段查询: ti:\"transformer\" AND cat:cs.LG\n      \
          \  \"\"\"\n        # 清理topic字符串\n        topic_str = topic_str.strip()\n\
          \        \n        # 检查是否已经是ArXiv查询格式\n        # 如果包含AND/OR/NOT和括号，或者是字段查询，直接使用\n\
          \        if any(op in topic_str.upper() for op in [' AND ', ' OR ', ' NOT\
          \ ']) or \\\n           any(field in topic_str.lower() for field in ['ti:',\
          \ 'abs:', 'cat:', 'all:']):\n            return topic_str\n        \n  \
          \      # 处理带引号的短语\n        phrases = re.findall(r'\"([^\"]*)\"', topic_str)\n\
          \        if phrases:\n            # 如果有引号内的短语，直接使用这些短语\n            query_parts\
          \ = []\n            for phrase in phrases:\n                query_parts.append(f'ti:\"\
          {phrase}\" OR abs:\"{phrase}\"')\n            return ' AND '.join([f'({part})'\
          \ for part in query_parts])\n        else:\n            # 按空格分割关键词\n   \
          \         keywords = topic_str.split()\n            if len(keywords) ==\
          \ 1:\n                # 单个关键词\n                return f'ti:\"{keywords[0]}\"\
          \ OR abs:\"{keywords[0]}\"'\n            else:\n                # 多个关键词，使用AND连接\n\
          \                query_parts = []\n                for keyword in keywords:\n\
          \                    query_parts.append(f'ti:\"{keyword}\" OR abs:\"{keyword}\"\
          ')\n                return ' AND '.join([f'({part})' for part in query_parts])\n\
          \    \n    # 构建查询\n    base_query = build_query_from_topic(topic)\n    \n\
          \    # 添加分类限制以提高相关性（机器学习相关）\n    # 如果查询中已经有分类，则不添加\n    if 'cat:' not in\
          \ base_query.lower():\n        # 根据topic判断可能的分类\n        topic_lower = topic.lower()\n\
          \        if any(word in topic_lower for word in ['machine learning', 'deep\
          \ learning', 'neural', 'ai', 'artificial intelligence']):\n            base_query\
          \ = f'({base_query}) AND (cat:cs.LG OR cat:cs.AI OR cat:cs.CV OR cat:cs.CL\
          \ OR cat:stat.ML)'\n        elif any(word in topic_lower for word in ['computer\
          \ vision', 'vision', 'image']):\n            base_query = f'({base_query})\
          \ AND (cat:cs.CV)'\n        elif any(word in topic_lower for word in ['nlp',\
          \ 'natural language', 'language model', 'transformer']):\n            base_query\
          \ = f'({base_query}) AND (cat:cs.CL)'\n        elif any(word in topic_lower\
          \ for word in ['robotics', 'robot']):\n            base_query = f'({base_query})\
          \ AND (cat:cs.RO)'\n        elif any(word in topic_lower for word in ['cryptography',\
          \ 'security']):\n            base_query = f'({base_query}) AND (cat:cs.CR)'\n\
          \        elif any(word in topic_lower for word in ['database', 'data']):\n\
          \            base_query = f'({base_query}) AND (cat:cs.DB)'\n\n    # 构造请求参数\n\
          \    base_url = \"https://export.arxiv.org/api/query?\"\n    \n    # 增加获取数量，确保过滤后还有足够结果\n\
          \    fetch_limit = max(int(count) * 3, 100)\n    \n    query_params = {\n\
          \        \"search_query\": base_query,\n        \"start\": 0,\n        \"\
          max_results\": str(fetch_limit),\n        \"sortBy\": \"submittedDate\"\
          ,\n        \"sortOrder\": \"descending\"\n    }\n    \n    filtered_results\
          \ = []\n    \n    try:\n        # 创建SSL上下文\n        ssl_context = ssl._create_unverified_context()\n\
          \        url = base_url + urllib.parse.urlencode(query_params)\n       \
          \ req = urllib.request.Request(url, headers={'User-Agent': 'Dify-Bot/1.0\
          \ (Mozilla/5.0)'})\n        \n        # 添加调试信息\n        debug_info += f\"\
          \ | 查询URL: {url[:100]}...\"\n        \n        with urllib.request.urlopen(req,\
          \ context=ssl_context, timeout=60) as response:\n            xml_data =\
          \ response.read().decode('utf-8')\n        \n        # 解析 XML\n        root\
          \ = ET.fromstring(xml_data)\n        ns = {'atom': 'http://www.w3.org/2005/Atom',\
          \ 'arxiv': 'http://arxiv.org/schemas/atom'}\n        entries = root.findall('atom:entry',\
          \ ns)\n        \n        filtered_out_count = 0\n        date_filtered_count\
          \ = 0\n        keyword_filtered_count = 0\n        \n        # 从topic中提取关键词用于本地过滤（提高相关性）\n\
          \        search_keywords = []\n        topic_lower = topic.lower()\n   \
          \     \n        # 提取所有单词作为关键词\n        words = re.findall(r'\\b[a-zA-Z]+\\\
          b', topic_lower)\n        search_keywords.extend(words)\n        \n    \
          \    # 提取引号内的短语\n        quoted_phrases = re.findall(r'\"([^\"]*)\"', topic_lower)\n\
          \        for phrase in quoted_phrases:\n            search_keywords.append(phrase)\n\
          \        \n        # 去重\n        search_keywords = list(set(search_keywords))\n\
          \        \n        # 移除太常见的词\n        common_words = ['the', 'and', 'or',\
          \ 'in', 'on', 'at', 'to', 'for', 'of', 'with', 'by']\n        search_keywords\
          \ = [kw for kw in search_keywords if kw not in common_words and len(kw)\
          \ > 2]\n        \n        for entry in entries:\n            if len(filtered_results)\
          \ >= int(count):\n                break\n\n            # 提取ID\n        \
          \    id_url = entry.find('atom:id', ns).text\n            raw_id = id_url.rsplit('/',\
          \ 1)[-1] if id_url else \"\"\n            arxiv_id = raw_id.split('v')[0].strip()\n\
          \            \n            # 检查是否已推送\n            if arxiv_id in pushed_ids:\n\
          \                filtered_out_count += 1\n                continue\n   \
          \         \n            # 检查日期\n            published_str = entry.find('atom:published',\
          \ ns).text\n            try:\n                pub_date_dt = datetime.strptime(published_str[:10],\
          \ \"%Y-%m-%d\")\n                if pub_date_dt.date() < cutoff_date.date():\n\
          \                    date_filtered_count += 1\n                    continue\n\
          \            except Exception:\n                pass\n\n            # 提取论文信息\n\
          \            title = entry.find('atom:title', ns).text.replace('\\n', '\
          \ ').strip()\n            summary = entry.find('atom:summary', ns).text.replace('\\\
          n', ' ').strip()\n            \n            # 本地关键词过滤（确保相关性）\n         \
          \   title_lower = title.lower()\n            summary_lower = summary.lower()\n\
          \            \n            # 如果有关键词列表，检查标题或摘要中是否包含至少一个关键词\n            if\
          \ search_keywords:\n                found_keyword = False\n            \
          \    for keyword in search_keywords:\n                    if keyword.lower()\
          \ in title_lower or keyword.lower() in summary_lower:\n                \
          \        found_keyword = True\n                        break\n         \
          \       \n                # 如果没有找到任何关键词，跳过这篇论文\n                if not found_keyword:\n\
          \                    keyword_filtered_count += 1\n                    continue\n\
          \            \n            # 作者处理\n            authors_list = []\n     \
          \       affiliations = []\n            for author_node in entry.findall('atom:author',\
          \ ns):\n                name_node = author_node.find('atom:name', ns)\n\
          \                if name_node is not None:\n                    authors_list.append(name_node.text)\n\
          \                aff_node = author_node.find('arxiv:affiliation', ns)\n\
          \                if aff_node is not None and aff_node.text:\n          \
          \          affiliations.append(aff_node.text)\n            \n          \
          \  authors_str = \", \".join(authors_list)\n            aff_str = \", \"\
          .join(list(set(affiliations))) if affiliations else \"N/A\"\n\n        \
          \    # 来源处理\n            journal_ref = entry.find('arxiv:journal_ref', ns)\n\
          \            journal_str = journal_ref.text if journal_ref is not None else\
          \ \"\"\n            comment = entry.find('arxiv:comment', ns)\n        \
          \    comment_str = comment.text if comment is not None else \"\"\n     \
          \       venue = journal_str if journal_str else (comment_str if comment_str\
          \ else \"arXiv\")\n            \n            pdf_url = f\"https://arxiv.org/pdf/{arxiv_id}.pdf\"\
          \ if arxiv_id else \"\"\n            \n            filtered_results.append({\n\
          \                \"arxiv_id\": arxiv_id,\n                \"title\": title,\n\
          \                \"summary\": summary[:500] + \"...\" if len(summary) >\
          \ 500 else summary,\n                \"authors\": authors_str,\n       \
          \         \"affiliation\": aff_str,\n                \"venue\": venue,\n\
          \                \"published\": published_str[:10],\n                \"\
          pdf_url\": pdf_url\n            })\n        \n        return {\n       \
          \     \"result\": json.dumps(filtered_results, ensure_ascii=False),\n  \
          \          \"count\": len(filtered_results),\n            \"cutoff_str\"\
          : cutoff_str,\n            \"today_str\": today_str,\n            \"debug\"\
          : f\"{debug_info} | 查询: {base_query[:100]}... | 总获取: {len(entries)} | 旧日期过滤:\
          \ {date_filtered_count} | 已推过滤: {filtered_out_count} | 关键词过滤: {keyword_filtered_count}\
          \ | 剩余: {len(filtered_results)}\"\n        }\n\n    except Exception as\
          \ e:\n        return {\n            \"result\": \"[]\", \n            \"\
          count\": 0, \n            \"cutoff_str\": cutoff_str,\n            \"today_str\"\
          : today_str,\n            \"debug\": f\"{debug_info} | 查询: {base_query[:100]}...\
          \ | 错误: {str(e)[:200]}\"\n        }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          cutoff_str:
            children: null
            type: string
          debug:
            children: null
            type: string
          result:
            children: null
            type: string
          today_str:
            children: null
            type: string
        selected: false
        title: 搜索论文
        type: code
        variables:
        - value_selector:
          - '1769759651750'
          - result
          value_type: string
          variable: topic
        - value_selector:
          - '1769347686844'
          - fetch_count
          value_type: number
          variable: count
        - value_selector:
          - '1769347686844'
          - days_lookback
          value_type: number
          variable: days_lookback
        - value_selector:
          - '1769954998188'
          - json
          value_type: array[object]
          variable: supabase_output
      height: 50
      id: '1768749419467'
      position:
        x: 2028.8467560176132
        y: -534.1462817800073
      positionAbsolute:
        x: 2028.8467560176132
        y: -534.1462817800073
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k
          provider: langgenius/wenxin/wenxin
        prompt_template:
        - id: c9d252ac-2420-410e-80c0-33933325a6d3
          role: system
          text: "# Role\n你是一个精通 ArXiv 搜索语法的科研助手，擅长从非正式的科研描述中提取核心技术关键词并构建复杂的检索表达式。\n\
            \n# Task\n用户的输入可能是一个详细的研究方向描述（中文）{{#1769347686844.raw_topic#}}。你的任务是将其转换为\
            \ ArXiv API 效率最高、最精确的 **英文布尔查询字符串**。\n\n# Rules\n1. **核心概念提取**：从用户的长描述中识别核心算法（如\
            \ Reinforcement Learning）、问题领域（如 Communication Efficiency）和研究对象（如 Multi-Agent\
            \ Systems）。\n2. **术语翻译**：将中文术语准确翻译为学术英语。\n3. **布尔逻辑构建**：\n   - 使用 `AND`\
            \ 连接必须同时满足的不同概念维度（例如：研究对象 AND 解决的问题）。\n   - 使用 `OR` 连接同义词或高度相关的词，增加搜索覆盖面。\n\
            \   - 使用双引号 `\"\"` 包裹词组（如 `\"multi-agent systems\"`）以实现精确匹配。\n4. **去噪**：忽略“我正在研究”、“帮我找论文”、“最近的研究”等非学术性的语气词。\n\
            5. **只输出结果**：不要包含任何解释、前缀或后缀，只输出构建好的查询字符串。\n\n# Examples\nInput: 我想研究基于大模型的多智能体系统的通信开销优化，特别是通过拓扑结构改进来节省\
            \ Token 的方法。\nOutput: (\"multi-agent systems\" OR \"multi-agent collaboration\"\
            ) AND (\"communication efficiency\" OR \"topology optimization\" OR \"\
            token reduction\")\n\nInput: 关注多智能体任务规划中的自我纠错机制，特别是通过辩论或者评论家模型来减少幻觉。\n\
            Output: \"multi-agent planning\" AND (\"self-correction\" OR \"reflexion\"\
            \ OR \"debate\" OR \"critic\")\n\nInput: 强化学习智能体在机器人导航中的应用\nOutput: \"\
            reinforcement learning\" AND agents AND \"robot navigation\"\n\n# Input:\
            \ {{#1769347686844.raw_topic#}}"
        selected: false
        title: 研究领域LLM翻译
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1768749653285'
      position:
        x: 983.5700100881809
        y: -506.11331344282917
      positionAbsolute:
        x: 983.5700100881809
        y: -506.11331344282917
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(arg1: dict) -> dict:\n    \"\"\"\n    DataUnpack: 将迭代项 item\
          \ (arg1) 拆解为独立的变量\n    \"\"\"\n    return {\n        \"title_str\": arg1.get('title',\
          \ 'No Title'),\n        \"pdf_url\": arg1.get('pdf_url', ''),\n        \"\
          summary_str\": arg1.get('summary', ''),\n        \"published\": arg1.get('published',\
          \ ''),\n        \"authors\": arg1.get('authors', 'Unknown Authors'),\n \
          \       \"comment\": arg1.get('comment', 'N/A'),\n        \"arxiv_id\":\
          \ arg1.get('arxiv_id', '')\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          arxiv_id:
            children: null
            type: string
          authors:
            children: null
            type: string
          comment:
            children: null
            type: string
          pdf_url:
            children: null
            type: string
          published:
            children: null
            type: string
          summary_str:
            children: null
            type: string
          title_str:
            children: null
            type: string
        selected: false
        title: DataUnpack
        type: code
        variables:
        - value_selector:
          - '1768746557884'
          - item
          value_type: object
          variable: arg1
      height: 50
      id: '1768808528449'
      parentId: '1768746557884'
      position:
        x: 76.45963568767871
        y: 65
      positionAbsolute:
        x: -14.580497296282772
        y: 94.47901850943859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\nimport re\n\ndef main(title: str, url: str, summary: str,\
          \ llm_string: str, pub_date: str, comment: str, authors: str) -> dict:\n\
          \    pub_status = \"Preprint\"\n    comment = comment if comment else \"\
          N/A\"\n    \n    if comment != \"N/A\":\n        # 常见顶会关键词库\n        conf_keywords\
          \ = ['cvpr', 'iccv', 'eccv', 'nips', 'neurips', 'iclr', 'aaai', 'ijcai',\
          \ 'acl', 'emnlp', 'naacl', 'siggraph', 'kdd', 'icml']\n        lower_comment\
          \ = comment.lower()\n        \n        for kw in conf_keywords:\n      \
          \      if kw in lower_comment:\n                display_comment = comment[:25]\
          \ + \"...\" if len(comment) > 25 else comment\n                pub_status\
          \ = f\"\U0001F389 {kw.upper()} ({display_comment})\"\n                break\n\
          \        else:\n            if 'conf' in lower_comment or 'proc' in lower_comment:\n\
          \                pub_status = \"\U0001F4C5 Conference/Journal\"\n      \
          \      elif 'workshop' in lower_comment:\n                pub_status = \"\
          \U0001F6E0️ Workshop\"\n    \n    try:\n        clean_date = pub_date[:10]\n\
          \    except:\n        clean_date = \"Recent\"\n\n    full_status_line =\
          \ f\"{clean_date} | {pub_status}\"\n\n    # 默认兜底值\n    ai_data = {\n   \
          \     \"One_Liner\": \"AI 正在阅读...\",\n        \"Architecture\": \"综合架构\"\
          ,\n        \"Dataset\": \"相关数据\",\n        \"Metrics\": \"核心指标\",\n    \
          \    \"Chinese_Abstract\": \"摘要生成中...\",\n        \"Affiliation\": \"提取中...\"\
          ,\n        \"Code_Url\": \"N/A\"\n    }\n\n    try:\n        if llm_string:\n\
          \            # 强制移除 <think>...</think> 标签及其内部所有内容\n            # flags=re.DOTALL\
          \ 确保 . 能匹配换行符\n            clean_content = re.sub(r'<think>.*?</think>',\
          \ '', llm_string, flags=re.DOTALL).strip()\n            \n            #\
          \ 处理 Markdown 代码块 (```json ... ```)\n            # 优先尝试匹配被代码块包裹的内容\n   \
          \         code_block_match = re.search(r'```json\\s*(\\{.*?\\})\\s*```',\
          \ clean_content, re.DOTALL)\n            if code_block_match:\n        \
          \        clean_json = code_block_match.group(1)\n            else:\n   \
          \             # 如果没有代码块，再尝试寻找最外层的 {}\n                # 此时 <think> 已被移除，找到第一个\
          \ { 通常就是 JSON 的开始\n                clean_json = clean_content.replace(\"\
          ```json\", \"\").replace(\"```\", \"\").strip()\n                match =\
          \ re.search(r'\\{.*\\}', clean_json, re.DOTALL)\n                if match:\n\
          \                    clean_json = match.group()\n            \n        \
          \    # 解析 JSON\n            parsed_data = json.loads(clean_json)\n     \
          \       \n            if isinstance(parsed_data, dict):\n              \
          \  ai_data.update(parsed_data)  \n    except:\n        pass\n    extracted_code\
          \ = ai_data.get(\"Code_Url\", \"N/A\")\n    display_code = \"N/A\"\n   \
          \ final_code_url = \"N/A\"\n    \n    invalid_keywords = [\"n/a\", \"none\"\
          , \"null\", \"未找到\", \"unknown\", \"coming soon\", \"no code\"]\n    \n\
          \    if extracted_code and extracted_code.lower() not in invalid_keywords:\n\
          \        clean_url = extracted_code.strip(\".,()[]'\\\"`。，\")\n        if\
          \ clean_url.startswith(\"http\"):\n            display_code = \"✅ Code Available\"\
          \n            final_code_url = clean_url\n\n    paper = {\n        \"title\"\
          : title or \"No Title\",\n        \"authors\": authors if authors else \"\
          Unknown Authors\",\n        \"affiliation\": ai_data.get('Affiliation',\
          \ 'N/A'),\n        \"pdf_url\": url,\n        \"summary\": summary,\n  \
          \      \"published\": full_status_line,\n        \"github_stats\": display_code,\
          \ \n        \"code_url\": final_code_url, \n        \"ai_evaluation\": ai_data\n\
          \    }\n    \n    return {\n        \"merged_paper\": paper\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          merged_paper:
            children: null
            type: object
        selected: false
        title: 数据组装
        type: code
        variables:
        - value_selector:
          - '1768808528449'
          - title_str
          value_type: string
          variable: title
        - value_selector:
          - '1768808528449'
          - pdf_url
          value_type: string
          variable: url
        - value_selector:
          - '1768808528449'
          - summary_str
          value_type: string
          variable: summary
        - value_selector:
          - '1769759854056'
          - result
          value_type: string
          variable: llm_string
        - value_selector:
          - '1768808528449'
          - published
          value_type: string
          variable: pub_date
        - value_selector:
          - '1768808528449'
          - comment
          value_type: string
          variable: comment
        - value_selector:
          - '1768808528449'
          - authors
          value_type: string
          variable: authors
      height: 50
      id: '1768808667129'
      parentId: '1768746557884'
      position:
        x: 2079.79772851087
        y: 132.55018359523493
      positionAbsolute:
        x: 1988.7575955269085
        y: 162.02920210467352
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        outputs:
        - value_selector:
          - '1768830612348'
          - output
          value_type: string
          variable: output_1
        selected: false
        title: 输出 2
        type: end
      height: 87
      id: '1768809610681'
      position:
        x: 2696.2830721400205
        y: -158.09974797613438
      positionAbsolute:
        x: 2696.2830721400205
        y: -158.09974797613438
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768746557884'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file.
            ja_JP: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file.
            pt_BR: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file.
            zh_Hans: 图像文件或 PDF 文件的 URL，或上述类型文件内容的 Base64 编码结果。
          label:
            en_US: File
            ja_JP: File
            pt_BR: File
            zh_Hans: 文件
          llm_description: The URL of an image or PDF file, or the Base64-encoded
            result of the content of such a file.
          max: null
          min: null
          name: file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: File type. 0 indicates a PDF file, and 1 indicates an image file.
              If not specified, the file type will be inferred from the URL.
            ja_JP: File type. 0 indicates a PDF file, and 1 indicates an image file.
              If not specified, the file type will be inferred from the URL.
            pt_BR: File type. 0 indicates a PDF file, and 1 indicates an image file.
              If not specified, the file type will be inferred from the URL.
            zh_Hans: 文件类型。0 表示 PDF 文件，1 表示图像文件。若不设置，则将根据 URL 推断文件类型。
          label:
            en_US: File Type
            ja_JP: File Type
            pt_BR: File Type
            zh_Hans: 文件类型
          llm_description: File type. 0 indicates a PDF file, and 1 indicates an image
            file. If not specified, the file type will be inferred from the URL.
          max: null
          min: null
          name: fileType
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            ja_JP: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            pt_BR: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            zh_Hans: 是否启用文档方向分类功能。启用该功能可以将输入图像自动转正。
          label:
            en_US: Whether to Enable Document Orientation Classification
            ja_JP: Whether to Enable Document Orientation Classification
            pt_BR: Whether to Enable Document Orientation Classification
            zh_Hans: 是否启用文档方向分类
          llm_description: Whether to enable the document orientation classification
            function. Enabling this feature allows the input image to be automatically
            rotated to the correct orientation. Keep this feature disabled unless
            the user ask for it.
          max: null
          min: null
          name: useDocOrientationClassify
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            ja_JP: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            pt_BR: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            zh_Hans: 是否启用文本图像矫正功能。启用该功能可以对发生畸变的文本图像进行自动矫正。
          label:
            en_US: Whether to Enable Text Image Unwarping
            ja_JP: Whether to Enable Text Image Unwarping
            pt_BR: Whether to Enable Text Image Unwarping
            zh_Hans: 是否启用文本图像矫正
          llm_description: Whether to enable the text image unwarping function. Enabling
            this feature allows automatic correction of distorted text images. Keep
            this feature disabled unless the user ask for it.
          max: null
          min: null
          name: useDocUnwarping
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to enable the layout detection function.
            ja_JP: Whether to enable the layout detection function.
            pt_BR: Whether to enable the layout detection function.
            zh_Hans: 是否启用版面检测功能。
          label:
            en_US: Whether to Enable Layout Detection
            ja_JP: Whether to Enable Layout Detection
            pt_BR: Whether to Enable Layout Detection
            zh_Hans: 是否启用版面检测
          llm_description: Whether to enable the layout detection function.
          max: null
          min: null
          name: useLayoutDetection
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the chart recognition function.
            ja_JP: Whether to enable the chart recognition function.
            pt_BR: Whether to enable the chart recognition function.
            zh_Hans: 是否启用图表识别功能。
          label:
            en_US: Whether to Enable Chart Recognition
            ja_JP: Whether to Enable Chart Recognition
            pt_BR: Whether to Enable Chart Recognition
            zh_Hans: 是否启用图表识别
          llm_description: Whether to enable the chart recognition function.
          max: null
          min: null
          name: useChartRecognition
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to perform NMS on layout detection results.
            ja_JP: Whether to perform NMS on layout detection results.
            pt_BR: Whether to perform NMS on layout detection results.
            zh_Hans: 是否对版面检测结果进行 NMS。
          label:
            en_US: Whether to Perform NMS on Layout Detection Results
            ja_JP: Whether to Perform NMS on Layout Detection Results
            pt_BR: Whether to Perform NMS on Layout Detection Results
            zh_Hans: 是否对版面检测结果进行 NMS
          llm_description: Whether to perform NMS on layout detection results.
          max: null
          min: null
          name: layoutNms
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Prompt type for the VLM. Possible values are "ocr", "formula",
              "table", and "chart". Takes effect only when layout detection is disabled.
            ja_JP: Prompt type for the VLM. Possible values are "ocr", "formula",
              "table", and "chart". Takes effect only when layout detection is disabled.
            pt_BR: Prompt type for the VLM. Possible values are "ocr", "formula",
              "table", and "chart". Takes effect only when layout detection is disabled.
            zh_Hans: VLM 的 prompt 类型。可能的值为："ocr"、"formula"、"table"、"chart"。仅当禁用版面检测时有效。
          label:
            en_US: Prompt Type for the VLM
            ja_JP: Prompt Type for the VLM
            pt_BR: Prompt Type for the VLM
            zh_Hans: VLM 的 prompt 类型
          llm_description: Prompt type for the VLM. Possible values are "ocr", "formula",
            "table", and "chart". Takes effect only when layout detection is disabled.
          max: null
          min: null
          name: promptLabel
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to format block content.
            ja_JP: Whether to format block content.
            pt_BR: Whether to format block content.
            zh_Hans: 是否格式化 block 内容。
          label:
            en_US: Whether to Format Block Content
            ja_JP: Whether to Format Block Content
            pt_BR: Whether to Format Block Content
            zh_Hans: 是否格式化 block 内容
          llm_description: Whether to format block content.
          max: null
          min: null
          name: formatBlockContent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Repetition penalty parameter used in VLM sampling.
            ja_JP: Repetition penalty parameter used in VLM sampling.
            pt_BR: Repetition penalty parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的重复惩罚参数。
          label:
            en_US: Repetition Penalty Parameter Used in VLM Sampling
            ja_JP: Repetition Penalty Parameter Used in VLM Sampling
            pt_BR: Repetition Penalty Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的重复惩罚参数
          llm_description: Repetition penalty parameter used in VLM sampling.
          max: null
          min: null
          name: repetitionPenalty
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Temperature parameter used in VLM sampling.
            ja_JP: Temperature parameter used in VLM sampling.
            pt_BR: Temperature parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的温度参数。
          label:
            en_US: Temperature Parameter Used in VLM Sampling
            ja_JP: Temperature Parameter Used in VLM Sampling
            pt_BR: Temperature Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的温度参数
          llm_description: Temperature parameter used in VLM sampling.
          max: null
          min: null
          name: temperature
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Top-p parameter used in VLM sampling.
            ja_JP: Top-p parameter used in VLM sampling.
            pt_BR: Top-p parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的 top-p 参数。
          label:
            en_US: Top-p Parameter Used in VLM Sampling
            ja_JP: Top-p Parameter Used in VLM Sampling
            pt_BR: Top-p Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的 top-p 参数
          llm_description: Top-p parameter used in VLM sampling.
          max: null
          min: null
          name: topP
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum number of pixels allowed during VLM preprocessing.
            ja_JP: Minimum number of pixels allowed during VLM preprocessing.
            pt_BR: Minimum number of pixels allowed during VLM preprocessing.
            zh_Hans: VLM 预处理时允许的最小像素数。
          label:
            en_US: Minimum Number of Pixels Allowed During VLM Preprocessing.
            ja_JP: Minimum Number of Pixels Allowed During VLM Preprocessing.
            pt_BR: Minimum Number of Pixels Allowed During VLM Preprocessing.
            zh_Hans: VLM 预处理时允许的最小像素数。
          llm_description: Minimum number of pixels allowed during VLM preprocessing.
          max: null
          min: null
          name: minPixels
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum number of pixels allowed during VLM preprocessing.
            ja_JP: Maximum number of pixels allowed during VLM preprocessing.
            pt_BR: Maximum number of pixels allowed during VLM preprocessing.
            zh_Hans: VLM 预处理时允许的最大像素数。
          label:
            en_US: Maximum Number of Pixels Allowed During VLM Preprocessing.
            ja_JP: Maximum Number of Pixels Allowed During VLM Preprocessing.
            pt_BR: Maximum Number of Pixels Allowed During VLM Preprocessing.
            zh_Hans: VLM 预处理时允许的最大像素数。
          llm_description: Maximum number of pixels allowed during VLM preprocessing.
          max: null
          min: null
          name: maxPixels
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to prettify the output Markdown text.
            ja_JP: Whether to prettify the output Markdown text.
            pt_BR: Whether to prettify the output Markdown text.
            zh_Hans: 是否美化输出的 Markdown 文本。
          label:
            en_US: Whether to Prettify the Output Markdown Text
            ja_JP: Whether to Prettify the Output Markdown Text
            pt_BR: Whether to Prettify the Output Markdown Text
            zh_Hans: 是否美化输出的 Markdown 文本
          llm_description: Whether to prettify the output Markdown text.
          max: null
          min: null
          name: prettifyMarkdown
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to include formula numbers in the output markdown text.
            ja_JP: Whether to include formula numbers in the output markdown text.
            pt_BR: Whether to include formula numbers in the output markdown text.
            zh_Hans: 是否在输出的 Markdown 文本中包含公式编号。
          label:
            en_US: Whether to Include Formula Numbers in the Output Markdown Text
            ja_JP: Whether to Include Formula Numbers in the Output Markdown Text
            pt_BR: Whether to Include Formula Numbers in the Output Markdown Text
            zh_Hans: 是否在输出的 Markdown 文本中包含公式编号
          llm_description: Whether to include formula numbers in the output markdown
            text.
          max: null
          min: null
          name: showFormulaNumber
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether or not to return visualization results.
            ja_JP: Whether or not to return visualization results.
            pt_BR: Whether or not to return visualization results.
            zh_Hans: 是否返回可视化结果。
          label:
            en_US: Whether to Return Visualization Results
            ja_JP: Whether to Return Visualization Results
            pt_BR: Whether to Return Visualization Results
            zh_Hans: 是否返回可视化结果
          llm_description: Whether or not to return visualization results.
          max: null
          min: null
          name: visualize
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          file: ''
          fileType: ''
          formatBlockContent: ''
          layoutNms: ''
          maxPixels: ''
          minPixels: ''
          prettifyMarkdown: ''
          promptLabel: ''
          repetitionPenalty: ''
          showFormulaNumber: ''
          temperature: ''
          topP: ''
          useChartRecognition: ''
          useDocOrientationClassify: ''
          useDocUnwarping: ''
          useLayoutDetection: ''
          visualize: ''
        plugin_id: langgenius/paddleocr
        plugin_unique_identifier: langgenius/paddleocr:0.1.4@7b732d21da7e41c97ec4f8547742a3b34777deb3b7ad2e0c56948b5de45219c8
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=f6742a8ecae19d42dedb6641125203e86a70016f465191b85a3bbe1588234c80.png
        provider_id: langgenius/paddleocr/paddleocr
        provider_name: langgenius/paddleocr/paddleocr
        provider_type: builtin
        retry_config:
          max_retries: 5
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 大模型文档解析
        tool_configurations: {}
        tool_description: PaddleOCR 大模型文档解析工具，能够提取文档中的表格、公式、印章等信息，同时保留原始版面结构
        tool_label: 大模型文档解析
        tool_name: document_parsing_vl
        tool_node_version: '2'
        tool_parameters:
          file:
            type: mixed
            value: '{{#1768808528449.pdf_url#}}'
          fileType:
            type: constant
            value: 0
          formatBlockContent:
            type: constant
            value: false
          layoutNms:
            type: constant
            value: true
          maxPixels:
            type: constant
            value: null
          minPixels:
            type: constant
            value: null
          prettifyMarkdown:
            type: constant
            value: true
          promptLabel:
            type: mixed
            value: null
          repetitionPenalty:
            type: constant
            value: null
          showFormulaNumber:
            type: constant
            value: false
          temperature:
            type: constant
            value: null
          topP:
            type: constant
            value: null
          useChartRecognition:
            type: constant
            value: true
          useDocOrientationClassify:
            type: constant
            value: false
          useDocUnwarping:
            type: constant
            value: false
          useLayoutDetection:
            type: constant
            value: true
          visualize:
            type: constant
            value: false
        type: tool
      height: 79
      id: '1768813194176'
      parentId: '1768746557884'
      position:
        x: 780.5379885017392
        y: 82.04649523880565
      positionAbsolute:
        x: 689.4978555177777
        y: 111.52551374824424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        selected: false
        template: "\U0001F4C5 PaperEssence 科研日报\r\n根据您指定的研究内容“{{ raw_topic }}”，每天推送arxiv近7日天更新论文中挑选的3篇论文。\r\
          \n--------------------------------------------------\r\n<small><i>⚠️ 注：内容由\
          \ AI 生成，仅供学术参考。请在引用或深入研究前，务必点击 PDF 链接查阅原始论文进行核实。</i></small>\r\n生成日期: {{\
          \ items.target_date | default('Today') }}\r\n==================================================\r\
          \n\r\n{# 自动适配数据结构 #}\r\n{% set final_list = items.paper | default(items)\
          \ %}\r\n\r\n{% for item in final_list %}\r\n\U0001F4C4 [{{ loop.index }}]\
          \ {{ item.title }}\r\n--------------------------------------------------\r\
          \n\U0001F464 作者: {{ item.authors }}\r\n\U0001F3E2 机构: {{ item.affiliation\
          \ }}\r\n\U0001F517 PDF: {{ item.pdf_url }}\r\n\U0001F4C5 状态: {{ item.published\
          \ }}\r\n{% if item.code_url and item.code_url != 'N/A' %}\r\n\U0001F4E6\
          \ Code: {{ item.github_stats }}\r\n   \U0001F517 {{ item.code_url }}\r\n\
          {% else %}\r\n\U0001F4E6 Code: {{ item.github_stats }}\r\n{% endif %}\r\n\
          English Abstract:\r\n{{ item.summary | replace('\\n', ' ') }}\r\n\r\n中文摘要:\r\
          \n{{ item.ai_evaluation.Chinese_Abstract }}\r\n\r\n\U0001F680 核心创新:\r\n\
          {{ item.ai_evaluation.One_Liner }}\r\n\r\n\U0001F4CA 总结:\r\n{# 利用换行和缩进制造层级感，不依赖\
          \ HTML 标签 #}\r\n--------------------------------------------------\r\n\U0001F3D7\
          ️ 架构:\r\n{{ item.ai_evaluation.Architecture | replace('\\n- ', '\\n\\n \
          \  \U0001F539 ') | replace('- ', '   \U0001F539 ') }}\r\n\r\n\U0001F4BE\
          \ 数据:\r\n{{ item.ai_evaluation.Dataset | replace('\\n- ', '\\n\\n   \U0001F539\
          \ ') | replace('- ', '   \U0001F539 ') }}\r\n\r\n\U0001F4C8 指标:\r\n{{ item.ai_evaluation.Metrics\
          \ | replace('\\n- ', '\\n\\n   \U0001F539 ') | replace('- ', '   \U0001F539\
          \ ') }}\r\n\r\n==================================================\r\n{%\
          \ else %}\r\n⚠️ 今日无新论文更新。\r\n{% endfor %}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1768746557884'
          - output
          value_type: array[object]
          variable: items
        - value_selector:
          - '1769347686844'
          - raw_topic
          value_type: string
          variable: raw_topic
      height: 50
      id: '1768830612348'
      position:
        x: 2385.3807992500524
        y: 67.29515787140579
      positionAbsolute:
        x: 2385.3807992500524
        y: 67.29515787140579
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        config:
          frequency: daily
          mode: visual
          timezone: UTC
          visual_config:
            monthly_days:
            - 1
            on_minute: 0
            time: 12:00 AM
            weekdays:
            - sun
        frequency: daily
        mode: visual
        selected: false
        timezone: Asia/Shanghai
        title: 定时触发器
        type: trigger-schedule
        visual_config:
          monthly_days:
          - 1
          on_minute: 0
          time: 5:30 AM
          weekdays:
          - sun
      height: 128
      id: '1769347575869'
      position:
        x: 53.34869540734945
        y: -619.861793442754
      positionAbsolute:
        x: 53.34869540734945
        y: -619.861793442754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import os\n\ndef main(\n    SMTP_USER: str,\n    MY_RAW_TOPIC: str,\n\
          \    MY_LLM_KEY_MODE: str,\n    SMTP_PORT: str,\n    SMTP_SERVER: str,\n\
          \    SMTP_PASSWORD: str,\n    table_name: str\n) -> dict:\n\n    user_email\
          \ = SMTP_USER\n    raw_topic = MY_RAW_TOPIC\n    llm_key_mode = MY_LLM_KEY_MODE\n\
          \n    smtp_port = SMTP_PORT\n    smtp_server = SMTP_SERVER\n    smtp_password\
          \ = SMTP_PASSWORD\n    table_name = table_name\n\n    return {\n       \
          \ # 搜索语句\n        \"raw_topic\": raw_topic,\n\n        # 接收邮箱\n        \"\
          user_email\": user_email,\n        \"llm_key_mode\": llm_key_mode,\n   \
          \ \n        # SMTP 配置（供后续邮件节点使用）\n        \"smtp_port\": smtp_port,\n  \
          \      \"smtp_server\": smtp_server,\n        \"smtp_password\": smtp_password,\n\
          \n        # 其他不敏感的配置\n        \"fetch_count\": 50,\n        \"push_limit\"\
          : 5,\n        \"days_lookback\": 7,\n        \"table_name\": table_name\n\
          \    }"
        code_language: python3
        outputs:
          days_lookback:
            children: null
            type: number
          fetch_count:
            children: null
            type: number
          llm_key_mode:
            children: null
            type: string
          push_limit:
            children: null
            type: number
          raw_topic:
            children: null
            type: string
          smtp_password:
            children: null
            type: string
          smtp_port:
            children: null
            type: string
          smtp_server:
            children: null
            type: string
          table_name:
            children: null
            type: string
          user_email:
            children: null
            type: string
        selected: false
        title: 配置
        type: code
        variables:
        - value_selector:
          - env
          - SMTP_PORT
          value_type: string
          variable: SMTP_PORT
        - value_selector:
          - env
          - SMTP_SERVER
          value_type: string
          variable: SMTP_SERVER
        - value_selector:
          - env
          - SMTP_USER
          value_type: secret
          variable: SMTP_USER
        - value_selector:
          - env
          - SMTP_PASSWORD
          value_type: secret
          variable: SMTP_PASSWORD
        - value_selector:
          - env
          - MY_LLM_KEY_MODE
          value_type: string
          variable: MY_LLM_KEY_MODE
        - value_selector:
          - env
          - MY_RAW_TOPIC
          value_type: string
          variable: MY_RAW_TOPIC
        - value_selector:
          - env
          - table_name
          value_type: string
          variable: table_name
      height: 50
      id: '1769347686844'
      position:
        x: 359.9774733927296
        y: -544.5983876035843
      positionAbsolute:
        x: 359.9774733927296
        y: -544.5983876035843
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(llm_string) -> dict:\n    selected_papers\
          \ = []\n\n    def try_parse(content):\n        \"\"\"尝试将任意内容解析为 Python 对象\"\
          \"\"\n        if isinstance(content, dict) or isinstance(content, list):\n\
          \            return content\n        try:\n            # 尝试直接解析\n      \
          \      return json.loads(content)\n        except:\n            # 尝试正则提取\
          \ JSON\n            match = re.search(r'(\\{.*\\}|\\[.*\\])', str(content),\
          \ re.DOTALL)\n            if match:\n                try:\n            \
          \        return json.loads(match.group())\n                except:\n   \
          \                 pass\n        return None\n\n    try:\n        # 第一层解析\n\
          \        data = try_parse(llm_string)\n\n        # 处理嵌套\n        if isinstance(data,\
          \ dict) and 'text' in data:\n            inner_data = try_parse(data['text'])\n\
          \            if inner_data: \n                data = inner_data\n      \
          \  \n        # 归一化\n        if isinstance(data, list):\n            selected_papers\
          \ = data\n        elif isinstance(data, dict):\n            # 优先找 papers\
          \ 字段\n            if 'papers' in data and isinstance(data['papers'], list):\n\
          \                selected_papers = data['papers']\n            elif 'top_papers'\
          \ in data and isinstance(data['top_papers'], list):\n                selected_papers\
          \ = data['top_papers']\n            else:\n                for v in data.values():\n\
          \                    if isinstance(v, list):\n                        selected_papers\
          \ = v\n                        break\n        \n        if not isinstance(selected_papers,\
          \ list):\n            selected_papers = []\n\n    except Exception as e:\n\
          \        print(f\"解析严重失败: {str(e)}\")\n        selected_papers = []\n\n\
          \    return {\n        \"top_papers\": selected_papers,\n        \"count\"\
          : len(selected_papers)\n    }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          top_papers:
            children: null
            type: array[object]
        selected: false
        title: JSON 解析
        type: code
        variables:
        - value_selector:
          - '1769759887027'
          - result
          value_type: string
          variable: llm_string
      height: 50
      id: '1769349445686'
      position:
        x: 1608.4336753464022
        y: -235.65305123320064
      positionAbsolute:
        x: 1608.4336753464022
        y: -235.65305123320064
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k
          provider: langgenius/wenxin/wenxin
        prompt_template:
        - id: 57470293-294d-4555-b0de-aa67069937e8
          role: system
          text: "# Role\n你是由 NeurIPS, ICLR, CVPR 顶级会议 Area Chair 组成的评审委员会。你拥有极高的学术品味，对\
            \ \"Incremental Work\" (增量工作) 零容忍，只寻找能推动领域发展的 \"Groundbreaking Work\"\
            \ (突破性工作)。\n\n# Task\n输入是{{#1768749419467.count#}}篇最新发布的计算机视觉与大模型领域论文。\n\
            请执行严格的 **同行评审 (Peer Review)** 流程，从列表中筛选出 **Top 3** 篇最有价值的论文。\n\n# Review\
            \ Criteria (评分标准)\n在脑海中对每篇论文进行打分 (不要输出分数，仅用于筛选)：\n1. **创新性 (Novelty)**:\n\
            \   - ✅ 必须提出新的架构、新的训练范式、或解决了一个长期未决的痛点。\n   - ❌ 拒绝简单的 \"A+B\" 缝合怪、单纯的参数微调或已知方法的微小改动。\n\
            2. **启发性 (Insight)**:\n   - ✅ 论文是否提供了令人惊讶的发现？是否挑战了现有的认知？\n   - ❌ 拒绝单纯的“刷榜”论文\
            \ (仅在某个数据集上提升 0.1%)。\n3. **完整性 (Completeness)**:\n   - ✅ 摘要中是否包含明确的方法论、实验结论和具体指标。\n\
            \n# Negative Filtering (负面过滤 - 遇到此类直接剔除)\n- 标题含有 \"A Survey of...\" 或\
            \ \"Review\" 的综述文章 (除非该领域极度缺乏综述)。\n- 摘要空洞，充满 \"State-of-the-art\" 堆砌但没有讲清楚具体方法的文章。\n\
            - 与计算机科学/AI 核心技术无关的边缘应用文章。\n\n# Output Constraints (CRITICAL)\n1. **纯净\
            \ JSON**: 输出必须是原始 JSON 数组格式 `[...]`。**严禁**在 JSON 前后添加 \"Here is...\" 或\
            \ \"```json\" 等 Markdown 标记。\n2. **结构完整**: 必须保留输入对象的所有原始字段 (title, pdf_url,\
            \ summary, authors, published, etc.)，**严禁修改字段名**，严禁添加新字段。\n3. **数量控制**:\n\
            \   - 如果输入论文 > 3 篇：严格输出评分最高的 **3** 篇。\n   - 如果输入论文 <= 3 篇：输出全部。\n\n# Input\
            \ Data\n{{{#1768749419467.result#}}}"
        selected: false
        title: LLM初审
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1769350813065'
      position:
        x: 684.1580932248758
        y: -182.35010922228395
      positionAbsolute:
        x: 684.1580932248758
        y: -182.35010922228395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          label:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          llm_description: Email username
          max: null
          min: null
          name: username_send
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          label:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          llm_description: AUTHORIZE CODE
          max: null
          min: null
          name: authorization_code
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          label:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          llm_description: Recipient mailbox, multiple mailboxes separated by commas
          max: null
          min: null
          name: username_recv
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          label:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          llm_description: subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          label:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          llm_description: 内容
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          authorization_code: ''
          content: ''
          subject: ''
          username_recv: ''
          username_send: ''
        plugin_id: wjdsg/163-smtp-send-mail
        plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=d34785dd2b36ddffe8dc7c28d648a5a18e590831169662dd0f37d0cc48d3d203.svg
        provider_id: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_name: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_type: builtin
        selected: false
        title: 163SMTP邮件发送
        tool_configurations: {}
        tool_description: 163SMTP邮件发送
        tool_label: 163SMTP邮件发送
        tool_name: 163-smtp-send-mail
        tool_node_version: '2'
        tool_parameters:
          authorization_code:
            type: mixed
            value: '{{#1769347686844.smtp_password#}}'
          content:
            type: mixed
            value: '{{#1768830612348.output#}}'
          subject:
            type: mixed
            value: PaperEssence-{{#1768749419467.cutoff_str#}}-{{#1768749419467.today_str#}}
          username_recv:
            type: mixed
            value: '{{#1769347686844.user_email#}}'
          username_send:
            type: mixed
            value: '{{#1769347686844.user_email#}}'
        type: tool
      height: 50
      id: '1769364120122'
      position:
        x: 2731.8832975950895
        y: 159.7144782886925
      positionAbsolute:
        x: 2731.8832975950895
        y: 159.7144782886925
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 22c628ae-bd11-4e1a-8437-3edfafd47ad3
            value: OPENAI_KEY
            varType: string
            variable_selector:
            - '1769347686844'
            - llm_key_mode
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支
        type: if-else
      height: 122
      id: '1769668760137'
      position:
        x: 649.8141549260844
        y: -584.5870137950735
      positionAbsolute:
        x: 649.8141549260844
        y: -584.5870137950735
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: f28fc4af-6c83-4c9b-8d41-62aefb467dea
            value: OPENAI_KEY
            varType: string
            variable_selector:
            - '1769347686844'
            - llm_key_mode
          id: 'true'
          logical_operator: and
        selected: false
        title: 条件分支 2
        type: if-else
      height: 122
      id: '1769669568004'
      position:
        x: -49.37157635408994
        y: -235.65305123320064
      positionAbsolute:
        x: -49.37157635408994
        y: -235.65305123320064
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: fcb68fa4-8ddb-405e-bbc1-91dbc3d9e14a
            value: OPENAI_KEY
            varType: string
            variable_selector:
            - '1769347686844'
            - llm_key_mode
          id: 'true'
          logical_operator: and
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        selected: false
        title: 条件分支 3
        type: if-else
      height: 122
      id: '1769670205504'
      parentId: '1768746557884'
      position:
        x: 1208.7335485068713
        y: 65
      positionAbsolute:
        x: 1117.6934155229098
        y: 94.47901850943859
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(arg1: str, arg2: str, llm_key_mode: str) -> dict:\n    if\
          \ llm_key_mode == \"OPENAI_KEY\":\n        return {\n            \"result\"\
          : arg1\n        }\n    else:\n        return {\n            \"result\":\
          \ arg2\n        }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 汇总-翻译
        type: code
        variables:
        - value_selector:
          - '17702096836960'
          - text
          value_type: string
          variable: arg1
        - value_selector:
          - '1768749653285'
          - text
          value_type: string
          variable: arg2
        - value_selector:
          - '1769347686844'
          - llm_key_mode
          value_type: string
          variable: llm_key_mode
      height: 50
      id: '1769759651750'
      position:
        x: 1375.439020789732
        y: -555.1250823209191
      positionAbsolute:
        x: 1375.439020789732
        y: -555.1250823209191
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(arg1: str, arg2: str, llm_key_mode: str) -> dict:\n    if\
          \ llm_key_mode == \"OPENAI_KEY\":\n        return {\n            \"result\"\
          : arg1\n        }\n    else:\n        return {\n            \"result\":\
          \ arg2\n        }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 汇总-分析
        type: code
        variables:
        - value_selector:
          - '1770209844836'
          - text
          value_type: string
          variable: arg1
        - value_selector:
          - '1768746991605'
          - text
          value_type: string
          variable: arg2
        - value_selector:
          - '1769347686844'
          - llm_key_mode
          value_type: string
          variable: llm_key_mode
      height: 50
      id: '1769759854056'
      parentId: '1768746557884'
      position:
        x: 1798.4242598891783
        y: 134.6197981928247
      positionAbsolute:
        x: 1707.3841269052168
        y: 164.0988167022633
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(arg1: str, arg2: str, llm_key_mode: str) -> dict:\n    if\
          \ llm_key_mode == \"OPENAI_KEY\":\n        return {\n            \"result\"\
          : arg1\n        }\n    else:\n        return {\n            \"result\":\
          \ arg2\n        }\n"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 汇总-初审
        type: code
        variables:
        - value_selector:
          - '17702097600540'
          - text
          value_type: string
          variable: arg1
        - value_selector:
          - '1769350813065'
          - text
          value_type: string
          variable: arg2
        - value_selector:
          - '1769347686844'
          - llm_key_mode
          value_type: string
          variable: llm_key_mode
      height: 50
      id: '1769759887027'
      position:
        x: 1239.7471167588672
        y: -244.92798321863165
      positionAbsolute:
        x: 1239.7471167588672
        y: -244.92798321863165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the table to query.
            ja_JP: クエリ対象のテーブル名。
            pt_BR: The name of the table to query.
            zh_Hans: The name of the table to query.
          label:
            en_US: Table Name
            ja_JP: テーブル名
            pt_BR: Table Name
            zh_Hans: Table Name
          llm_description: Provide the name of the table you want to query in Supabase.
          max: null
          min: null
          name: table
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum number of rows to return.
            ja_JP: 返される最大行数。
            pt_BR: Maximum number of rows to return.
            zh_Hans: Maximum number of rows to return.
          label:
            en_US: Limit
            ja_JP: 上限
            pt_BR: Limit
            zh_Hans: Limit
          llm_description: Specify how many rows you want to retrieve. Default is
            10.
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter condition (e.g., 'status=active').
            ja_JP: オプションのフィルター条件（例：'status=active'）。
            pt_BR: Optional filter condition (e.g., 'status=active').
            zh_Hans: Optional filter condition (e.g., 'status=active').
          label:
            en_US: Filter
            ja_JP: フィルター
            pt_BR: Filter
            zh_Hans: Filter
          llm_description: Provide a filter condition if needed. (e.g., 'status=active')
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          filter: ''
          limit: ''
          table: ''
        plugin_id: langgenius/supabase
        plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=6239d130d5b7cbd43ca28b8fc2c08cccbe1440495aae395a8b8c31f0a086c149.svg
        provider_id: langgenius/supabase/supabase
        provider_name: langgenius/supabase/supabase
        provider_type: builtin
        selected: false
        title: Get Rows
        tool_configurations: {}
        tool_description: Get rows from a specified table in Supabase.
        tool_label: Get Rows
        tool_name: get_rows
        tool_node_version: '2'
        tool_parameters:
          filter:
            type: mixed
            value: ''
          limit:
            type: constant
            value: null
          table:
            type: mixed
            value: '{{#1769347686844.table_name#}}'
        type: tool
      height: 50
      id: '1769954998188'
      position:
        x: 1691.7585071868298
        y: -555.1250823209191
      positionAbsolute:
        x: 1691.7585071868298
        y: -555.1250823209191
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768746557884'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the table to insert into.
            ja_JP: 挿入先のテーブル名。
            pt_BR: The name of the table to insert into.
            zh_Hans: The name of the table to insert into.
          label:
            en_US: Table Name
            ja_JP: テーブル名
            pt_BR: Table Name
            zh_Hans: Table Name
          llm_description: Provide the name of the table where you want to insert
            a new row.
          max: null
          min: null
          name: table
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data for the new row as a JSON object.
            ja_JP: 新しい行のデータ（JSON オブジェクト形式）。
            pt_BR: Data for the new row as a JSON object.
            zh_Hans: Data for the new row as a JSON object.
          label:
            en_US: Row Data
            ja_JP: 行データ
            pt_BR: Row Data
            zh_Hans: Row Data
          llm_description: Provide the data for the new row in JSON format.
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          table: ''
        plugin_id: langgenius/supabase
        plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=6239d130d5b7cbd43ca28b8fc2c08cccbe1440495aae395a8b8c31f0a086c149.svg
        provider_id: langgenius/supabase/supabase
        provider_name: langgenius/supabase/supabase
        provider_type: builtin
        selected: false
        title: Create a Row
        tool_configurations: {}
        tool_description: Create a new row in a specified table in Supabase.
        tool_label: Create a Row
        tool_name: create_a_row
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: "{\n  \"arxiv_id\": \"{{{{#1768808528449.arxiv_id#}}}}\"\n}"
          table:
            type: mixed
            value: '{{#1769347686844.table_name#}}'
        type: tool
      height: 50
      id: '1769957710193'
      parentId: '1768746557884'
      position:
        x: 480.53798850173916
        y: 82.04649523880565
      positionAbsolute:
        x: 389.4978555177777
        y: 111.52551374824424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: lyf/ernie-paddle-aistudio-api/ernie-paddle-aistudio-api
        prompt_template:
        - id: c9d252ac-2420-410e-80c0-33933325a6d3
          role: system
          text: "# Role\n你是一个精通 ArXiv 搜索语法的科研助手，擅长从非正式的科研描述中提取核心技术关键词并构建复杂的检索表达式。\n\
            \n# Task\n用户的输入可能是一个详细的研究方向描述（中文）{{#1769347686844.raw_topic#}}。你的任务是将其转换为\
            \ ArXiv API 效率最高、最精确的 **英文布尔查询字符串**。\n\n# Rules\n1. **核心概念提取**：从用户的长描述中识别核心算法（如\
            \ Reinforcement Learning）、问题领域（如 Communication Efficiency）和研究对象（如 Multi-Agent\
            \ Systems）。\n2. **术语翻译**：将中文术语准确翻译为学术英语。\n3. **布尔逻辑构建**：\n   - 使用 `AND`\
            \ 连接必须同时满足的不同概念维度（例如：研究对象 AND 解决的问题）。\n   - 使用 `OR` 连接同义词或高度相关的词，增加搜索覆盖面。\n\
            \   - 使用双引号 `\"\"` 包裹词组（如 `\"multi-agent systems\"`）以实现精确匹配。\n4. **去噪**：忽略“我正在研究”、“帮我找论文”、“最近的研究”等非学术性的语气词。\n\
            5. **只输出结果**：不要包含任何解释、前缀或后缀，只输出构建好的查询字符串。\n\n# Examples\nInput: 我想研究基于大模型的多智能体系统的通信开销优化，特别是通过拓扑结构改进来节省\
            \ Token 的方法。\nOutput: (\"multi-agent systems\" OR \"multi-agent collaboration\"\
            ) AND (\"communication efficiency\" OR \"topology optimization\" OR \"\
            token reduction\")\n\nInput: 关注多智能体任务规划中的自我纠错机制，特别是通过辩论或者评论家模型来减少幻觉。\n\
            Output: \"multi-agent planning\" AND (\"self-correction\" OR \"reflexion\"\
            \ OR \"debate\" OR \"critic\")\n\nInput: 强化学习智能体在机器人导航中的应用\nOutput: \"\
            reinforcement learning\" AND agents AND \"robot navigation\"\n\n# Input:\
            \ {{#1769347686844.raw_topic#}}"
        selected: false
        title: 研究领域LLM翻译-星河
        type: llm
        vision:
          enabled: false
      height: 86
      id: '17702096836960'
      position:
        x: 978.3006566679312
        y: -645.2438858353544
      positionAbsolute:
        x: 978.3006566679312
        y: -645.2438858353544
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: lyf/ernie-paddle-aistudio-api/ernie-paddle-aistudio-api
        prompt_template:
        - id: 57470293-294d-4555-b0de-aa67069937e8
          role: system
          text: "# Role\n你是由 NeurIPS, ICLR, CVPR 顶级会议 Area Chair 组成的评审委员会。你拥有极高的学术品味，对\
            \ \"Incremental Work\" (增量工作) 零容忍，只寻找能推动领域发展的 \"Groundbreaking Work\"\
            \ (突破性工作)。\n\n# Task\n输入是{{#1768749419467.count#}}篇最新发布的计算机视觉与大模型领域论文。\n\
            请执行严格的 **同行评审 (Peer Review)** 流程，从列表中筛选出 **Top 3** 篇最有价值的论文。\n\n# Review\
            \ Criteria (评分标准)\n在脑海中对每篇论文进行打分 (不要输出分数，仅用于筛选)：\n1. **创新性 (Novelty)**:\n\
            \   - ✅ 必须提出新的架构、新的训练范式、或解决了一个长期未决的痛点。\n   - ❌ 拒绝简单的 \"A+B\" 缝合怪、单纯的参数微调或已知方法的微小改动。\n\
            2. **启发性 (Insight)**:\n   - ✅ 论文是否提供了令人惊讶的发现？是否挑战了现有的认知？\n   - ❌ 拒绝单纯的“刷榜”论文\
            \ (仅在某个数据集上提升 0.1%)。\n3. **完整性 (Completeness)**:\n   - ✅ 摘要中是否包含明确的方法论、实验结论和具体指标。\n\
            \n# Negative Filtering (负面过滤 - 遇到此类直接剔除)\n- 标题含有 \"A Survey of...\" 或\
            \ \"Review\" 的综述文章 (除非该领域极度缺乏综述)。\n- 摘要空洞，充满 \"State-of-the-art\" 堆砌但没有讲清楚具体方法的文章。\n\
            - 与计算机科学/AI 核心技术无关的边缘应用文章。\n\n# Output Constraints (CRITICAL)\n1. **纯净\
            \ JSON**: 输出必须是原始 JSON 数组格式 `[...]`。**严禁**在 JSON 前后添加 \"Here is...\" 或\
            \ \"```json\" 等 Markdown 标记。\n2. **结构完整**: 必须保留输入对象的所有原始字段 (title, pdf_url,\
            \ summary, authors, published, etc.)，**严禁修改字段名**，严禁添加新字段。\n3. **数量控制**:\n\
            \   - 如果输入论文 > 3 篇：严格输出评分最高的 **3** 篇。\n   - 如果输入论文 <= 3 篇：输出全部。\n\n# Input\
            \ Data\n{{{#1768749419467.result#}}}"
        retry_config:
          max_retries: 5
          retry_enabled: true
          retry_interval: 1374
        selected: false
        title: LLM初审-星河
        type: llm
        vision:
          enabled: false
      height: 115
      id: '17702097600540'
      position:
        x: 649.8141549260844
        y: -300.9546209437918
      positionAbsolute:
        x: 649.8141549260844
        y: -300.9546209437918
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-5.0-thinking-preview
          provider: lyf/ernie-paddle-aistudio-api/ernie-paddle-aistudio-api
        prompt_template:
        - id: dd12f470-a22c-45c5-991a-42f777dafd62
          role: system
          text: "# Role\n你是一名资深的计算机与AI领域审稿人。你需要根据提供的论文摘要和OCR正文片段，总结出论文的核心技术细节。\n\n\
            # Input\n- Title: {{#1768808528449.title_str#}}}\n- Abstract: {{#1768808528449.summary_str#}}}\n\
            - OCR Text: {{#1768813194176.text#}}}\n\n# Task\n基于以上输入，提取并总结以下 7 个关键字段。\n\
            \n**\U0001F6A8 核心原则（Core Principles）：**\n1.  **拒绝废话**：不要输出“本文提出了一种新颖的方法”这种套话，直接说**具体是什么方法**。\n\
            2.  **深挖细节**：如果没有标准模型名，必须总结其**算法逻辑、损失函数设计或模块交互方式**。\n3.  **数据优先**：在 Metrics\
            \ 中，优先展示**对比 SOTA 的提升幅度**，而不仅仅是绝对值。\n4.  **禁止 N/A**：如果文中未明确，根据上下文进行**合理的专家推断**（Inferred），但不要捏造。\n\
            \n# Fields Guide\n\n1.  **One_Liner** (String):\n    * (中文) **一句话痛点与解决方案**。\n\
            \    * 格式：*“针对 [具体痛点/任务]，提出 [核心方法/架构]，实现了 [核心价值]。”*\n    * 示例：“针对长文本幻觉问题，提出基于知识图谱的动态检索增强框架，将事实准确率提升了\
            \ 15%。”\n\n2.  **Architecture** (String):\n    * (中文) **模型架构与关键创新点（分点总结）**。\n\
            \    * **必须包含**：核心模块名称、特定的数学机制（如 Attention 变体）、Loss 函数设计或训练策略。\n    *\
            \ **格式要求**：请使用 `\\n- ` 进行换行分点，确保在 UI 上显示清晰。\n    * *示例*：\n        \"提出\
            \ Llama-adapter-v2 架构：\\n- 引入零初始化注意力机制，解决训练初期不稳定性；\\n- 采用两阶段微调策略，先优化只读参数再全量微调；\\\
            n- 设计了多模态对齐投影层，实现图像特征的无损注入。\"\n\n3.  **Dataset** (String):\n    * (中文)\
            \ **数据来源与规模**。\n    * 优先提取：**数据集名称** + **数据量级**（如 1M, 70k, 3000 hours）。\n\
            \    * 如果是私有/合成数据，描述其**生成逻辑**或**来源领域**（如“GPT-4生成的 50k 代码指令对”）。\n\n4. \
            \ **Metrics** (String):\n    * (中文) **核心性能指标**。\n    * 提取关键榜单（Benchmarks）上的表现。\n\
            \    * **关键**：如果有对比，请写出 *“比 SOTA (如 ResNet-50) 提升了 X%”* 或 *“参数量减少 Y% 的同时精度持平”*。\n\
            \    * 无数字时，描述其具体的**定性优势**（如“在 8k 上下文长度下仍保持连贯”）。\n\n5.  **Chinese_Abstract**\
            \ (String):\n    * (中文) **学术级摘要翻译**。\n    * 要求：信达雅，使用标准的学术术语（如：Ablation\
            \ study -> 消融实验, Robustness -> 鲁棒性, End-to-end -> 端到端）。\n\n6.  **Affiliation**\
            \ (String):\n    * 从 OCR 文本中中提取作者所属的机构。\n    **清洗指令**：去除无关的地址细节（如街道号、邮编）。多个机构用“;\
            \ ”分隔。\n    **示例**：清华大学; 微软亚洲研究院 (MSRA)。\n\n7.  **Code_Url** (String):\n\
            \    * **高优先级搜索**。\n    * 查找范围：Abstract, Introduction, Conclusion 以及 OCR\
            \ 的页眉页脚。\n    * **严格鉴别**：\n        1. 必须是**本论文**的官方实现（通常伴随 \"Official\
            \ implementation\", \"Code is released at\"）。\n        2. **排除** 引用文献中的链接（即排除出现在\
            \ `[...]` 或 Reference 章节的链接）。\n        3. 必须以 `http` 开头。\n    * *Output*：仅输出\
            \ URL。若确无代码，输出 \"N/A\"。\n\n# Output Format\n请直接输出纯 JSON 对象，确保可以被 `json.loads`\
            \ 解析。不要包含 Markdown 代码块标记（```json）。\n\n{\n  \"One_Liner\": \"...\",\n \
            \ \"Architecture\": \"...\",\n  \"Dataset\": \"...\",\n  \"Metrics\":\
            \ \"...\",\n  \"Chinese_Abstract\": \"...\",\n  \"Affiliation\": \"...\"\
            ,\n  \"Code_Url\": \"...\"\n}"
        selected: false
        title: (LLM)分析-星河
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1770209844836'
      parentId: '1768746557884'
      position:
        x: 1500.8865660244242
        y: 92.34335482258663
      positionAbsolute:
        x: 1409.8464330404627
        y: 121.82237333202522
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    viewport:
      x: 210.22620913768833
      y: 326.6307293051959
      zoom: 0.3187810697483394
  rag_pipeline_variables: []
