prj/Paper-Essence-CN.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: Paper-Essence-CN
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/paddleocr:0.2.1@51eb09456be19a284571c18f9569e2a104ee138ef06e21183e2b7b1e26e4c49d
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: paddle-aistudio/ernie-paddle-aistudio:0.1.1@3281d45224736abd0cd14336b54e1a6ddc681ca3fcc5528ae254957765d92adf
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: ''
    id: 962c16da-bb3c-4541-91d9-02e10d2d8d2e
    name: re_email
    selector:
    - env
    - send_email
    value: ''
    value_type: secret
  - description: ''
    id: ff0fc857-b289-413c-a461-6718b593c2ee
    name: table_name
    selector:
    - env
    - table_name
    value: pushed_papers
    value_type: string
  - description: ''
    id: ab5124af-50a4-4219-814c-b7ec7939d259
    name: SMTP_PORT
    selector:
    - env
    - SMTP_PORT
    value: '465'
    value_type: string
  - description: ''
    id: 5b4dcaeb-af7b-4272-86c4-dc79795d359d
    name: SMTP_SERVER
    selector:
    - env
    - SMTP_SERVER
    value: smtp.163.com
    value_type: string
  - description: ''
    id: 4e52b523-a4c3-43b9-b47a-fb71ecd5bf58
    name: SMTP_PASSWORD
    selector:
    - env
    - SMTP_PASSWORD
    value: ''
    value_type: secret
  - description: ''
    id: 60c5cd5b-0463-4b20-928e-e41c5ab5d0f4
    name: SMTP_USER
    selector:
    - env
    - SMTP_USER
    value: ''
    value_type: secret
  - description: ''
    id: a30c1c7e-97cb-4196-9f4a-a656810f0322
    name: MY_RAW_TOPIC
    selector:
    - env
    - MY_RAW_TOPIC
    value: 视频生成
    value_type: string
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: iteration-start
        targetType: code
      id: 1768746557884start-source-1768808528449-target
      selected: false
      source: 1768746557884start
      sourceHandle: source
      target: '1768808528449'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: end
      id: 1768746557884-source-1768809610681-target
      selected: false
      source: '1768746557884'
      sourceHandle: source
      target: '1768809610681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: template-transform
      id: 1768746557884-source-1768830612348-target
      selected: false
      source: '1768746557884'
      sourceHandle: source
      target: '1768830612348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1768830612348-source-1768809610681-target
      selected: false
      source: '1768830612348'
      sourceHandle: source
      target: '1768809610681'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: trigger-schedule
        targetType: code
      id: 1769347575869-source-1769347686844-target
      selected: false
      source: '1769347575869'
      sourceHandle: source
      target: '1769347686844'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1769349445686-source-1768746557884-target
      selected: false
      source: '1769349445686'
      sourceHandle: source
      target: '1768746557884'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1768830612348-source-1769364120122-target
      selected: false
      source: '1768830612348'
      sourceHandle: source
      target: '1769364120122'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: tool
      id: 1768808528449-source-1769957710193-target
      source: '1768808528449'
      sourceHandle: source
      target: '1769957710193'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: llm
        targetType: tool
      id: 1770443235033-source-1769954998188-target
      source: '1770443235033'
      sourceHandle: source
      target: '1769954998188'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1769350813065-source-1769349445686-target
      source: '1769350813065'
      sourceHandle: source
      target: '1769349445686'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: llm
        targetType: code
      id: 1768746991605-source-1768808667129-target
      source: '1768746991605'
      sourceHandle: source
      target: '1768808667129'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1769347686844-source-1770443235033-target
      source: '1769347686844'
      sourceHandle: source
      target: '1770443235033'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1770469411002-source-1770469208395-target
      selected: false
      source: '1770469411002'
      sourceHandle: source
      target: '1770469208395'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1770469208395-source-1770469838682-target
      source: '1770469208395'
      sourceHandle: source
      target: '1770469838682'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: code
      id: 1770531933796-source-1770554824578-target
      source: '1770531933796'
      sourceHandle: source
      target: '1770554824578'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: llm
      id: 1770554824578-source-1768746991605-target
      source: '1770554824578'
      sourceHandle: source
      target: '1768746991605'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: code
      id: 1768808667129-source-1772600001-target
      selected: false
      source: '1768808667129'
      sourceHandle: source
      target: '1772600001'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: http-request
      id: 1772600001-source-1772600002-target
      selected: false
      source: '1772600001'
      sourceHandle: source
      target: '1772600002'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: http-request
      id: 1772600001-source-1772600003-target
      selected: false
      source: '1772600001'
      sourceHandle: source
      target: '1772600003'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: http-request
        targetType: code
      id: 1772600002-source-1772600004-target
      selected: false
      source: '1772600002'
      sourceHandle: source
      target: '1772600004'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: http-request
        targetType: code
      id: 1772600003-source-1772600004-target
      selected: false
      source: '1772600003'
      sourceHandle: source
      target: '1772600004'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: llm
      id: 1768746557884-source-1772600005-target
      selected: false
      source: '1768746557884'
      sourceHandle: source
      target: '1772600005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1772600005-source-1768830612348-target
      selected: false
      source: '1772600005'
      sourceHandle: source
      target: '1768830612348'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: http-request
      id: 1770443235033-source-1780000001-target
      selected: false
      source: '1770443235033'
      sourceHandle: source
      target: '1780000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1780000001-source-1780000002-target
      selected: false
      source: '1780000001'
      sourceHandle: source
      target: '1780000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1769954998188-source-1780000002-target
      selected: false
      source: '1769954998188'
      sourceHandle: source
      target: '1780000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: if-else
      id: 1780000002-source-1780000003-target
      selected: false
      source: '1780000002'
      sourceHandle: source
      target: '1780000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1780000003-true-source-1780000004-target
      selected: false
      source: '1780000003'
      sourceHandle: 'true'
      target: '1780000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1780000003-false-source-1770469411002-target
      selected: false
      source: '1780000003'
      sourceHandle: 'false'
      target: '1770469411002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1770469838682-source-1780000004-target
      selected: false
      source: '1770469838682'
      sourceHandle: source
      target: '1780000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1780000004-source-1769350813065-target
      selected: false
      source: '1780000004'
      sourceHandle: source
      target: '1769350813065'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: tool
        targetType: code
      id: 1772791200305-source-1770531933796-target
      source: '1772791200305'
      sourceHandle: source
      target: '1770531933796'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: tool
        targetType: http-request
      id: 1769957710193-source-1772800459834-target
      selected: false
      source: '1769957710193'
      sourceHandle: source
      target: '1772800459834'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: http-request
        targetType: code
      id: 1772800459834-source-1772801585642-target
      source: '1772800459834'
      sourceHandle: source
      target: '1772801585642'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        sourceType: code
        targetType: tool
      id: 1772801585642-source-1772791200305-target
      source: '1772801585642'
      sourceHandle: source
      target: '1772791200305'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 319
        is_parallel: false
        iterator_input_type: array[object]
        iterator_selector:
        - '1769349445686'
        - top_papers
        output_selector:
        - '1772600004'
        - enriched_paper
        output_type: array[object]
        parallel_nums: 10
        selected: false
        start_node_id: 1768746557884start
        title: 迭代
        type: iteration
        width: 3467
      height: 319
      id: '1768746557884'
      position:
        x: -1746.3918664008993
        y: -259.3389413458491
      positionAbsolute:
        x: -1746.3918664008993
        y: -259.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 3467
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1768746557884start
      parentId: '1768746557884'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: -1722.3918664008993
        y: -191.3389413458491
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: paddle-aistudio/ernie-paddle-aistudio/ernie-paddle-aistudio-api
        prompt_template:
        - id: f5b1fb7d-6e09-4847-a146-d397f127ef68
          role: system
          text: "# Role\n你是一名资深的计算机与AI领域审稿人。你需要根据提供的论文摘要和OCR正文片段，总结出论文的核心技术细节。\n\n\
            # Input\n- Title:{ {{#1768808528449.title_str#}}}\n- Abstract:{ {{#1768808528449.summary_str#}}}\n\
            - OCR Text: {{#1770554824578.truncated_text#}}}\n\n# Task\n基于以上输入，提取并总结以下\
            \ 7 个关键字段。\n\n**\U0001F6A8 核心原则（Core Principles）：**\n1.  **拒绝废话**：不要输出“本文提出了一种新颖的方法”这种套话，直接说**具体是什么方法**。\n\
            2.  **深挖细节**：如果没有标准模型名，必须总结其**算法逻辑、损失函数设计或模块交互方式**。\n3.  **数据优先**：在 Metrics\
            \ 中，优先展示**对比 SOTA 的提升幅度**，而不仅仅是绝对值。\n4.  **禁止 N/A**：如果文中未明确，根据上下文进行**合理的专家推断**（Inferred），但不要捏造。\n\
            \n# Fields Guide\n\n1.  **One_Liner** (String):\n    * (中文) **一句话痛点与解决方案**。\n\
            \    * 格式：*“针对 [具体痛点/任务]，提出 [核心方法/架构]，实现了 [核心价值]。”*\n    * 示例：“针对长文本幻觉问题，提出基于知识图谱的动态检索增强框架，将事实准确率提升了\
            \ 15%。”\n\n2.  **Architecture** (String):\n    * (中文) **模型架构与关键创新点（分点总结）**。\n\
            \    * **必须包含**：核心模块名称、特定的数学机制（如 Attention 变体）、Loss 函数设计或训练策略。\n    *\
            \ **格式要求**：请使用 `\\n- ` 进行换行分点，确保在 UI 上显示清晰。\n    * *示例*：\n        \"提出\
            \ Llama-adapter-v2 架构：\\n- 引入零初始化注意力机制，解决训练初期不稳定性；\\n- 采用两阶段微调策略，先优化只读参数再全量微调；\\\
            n- 设计了多模态对齐投影层，实现图像特征的无损注入。\"\n\n3.  **Dataset** (String):\n    * (中文)\
            \ **数据来源与规模**。\n    * 优先提取：**数据集名称** + **数据量级**（如 1M, 70k, 3000 hours）。\n\
            \    * 如果是私有/合成数据，描述其**生成逻辑**或**来源领域**（如“GPT-4生成的 50k 代码指令对”）。\n\n4. \
            \ **Metrics** (String):\n    * (中文) **核心性能指标**。\n    * 提取关键榜单（Benchmarks）上的表现。\n\
            \    * **关键**：如果有对比，请写出 *“比 SOTA (如 ResNet-50) 提升了 X%”* 或 *“参数量减少 Y% 的同时精度持平”*。\n\
            \    * 无数字时，描述其具体的**定性优势**（如“在 8k 上下文长度下仍保持连贯”）。\n\n5.  **Chinese_Abstract**\
            \ (String):\n    * (中文) **学术级摘要翻译**。\n    * 要求：信达雅，使用标准的学术术语（如：Ablation\
            \ study -> 消融实验, Robustness -> 鲁棒性, End-to-end -> 端到端）。\n\n6.  **Affiliation**\
            \ (String):\n* 从 OCR 文本中提取作者所属的机构。\n* **关键策略**：\n    1. **查找位置**：**优先检查**\
            \ OCR 文本中明确标注为【机构区块（可能包含作者机构信息）】的部分。此外，也需检查**标题下方**、**页脚（Footnotes）**或**首页底部**。机构信息常以小字或脚注形式出现（如\
            \ `$ ^{1} $ Department of...`）。\n    2. **忽略噪声**：自动忽略 OCR 产生的特殊上标/下标符号（如\
            \ `$ ^{1} $`、`*`、`†`），直接提取后面的机构名称。\n    3. **关键词匹配**：提取包含 \"University\"\
            、\"Institute\"、\"Laboratory\"、\"Department\"、\"School\"、\"College\"、\"\
            Group\"、\"Research\"、\"Center\"、\"AG\"、\"GmbH\"、\"Corporation\"、\"Company\"\
            、\"Lab\" 等词汇的片段。\n* **备选来源**：如果 OCR 文本中无法提取到机构信息，**则从上一步提取的 {{#1770531933796.footnote_text#}}中尝试识别机构信息**。脚注常常包含作者机构信息，特别是带有上标标记（如`$\
            \ ^{1} $`、`*`）的段落。\n* **清洗指令**：去除具体地址（如街道、邮编、城市名如果单独出现），只保留最高级机构名称（如\"\
            University of Oxford\"而不是\"Oxford, UK\"）。\n* **格式**：多个机构请使用\"; \"分隔。\n\
            * **示例**：\n    - 输入：【FOOTNOTE】: `$ ^{1} $ Mercedes-Benz AG, Germany`\n\
            \    - 输出：`Mercedes-Benz AG`\n    - 输入：【FOOTNOTE】: `$ ^{1} $ Stanford\
            \ University, USA; $ ^{2} $ MIT, USA`\n    - 输出：`Stanford University;\
            \ MIT`\n    - 输入：OCR文本无机构信息，但从footnote_text中提取到：`$ ^{1} $ Department of\
            \ Computer Science, University of Cambridge`\n    - 输出：`Department of\
            \ Computer Science, University of Cambridge`\n\n**处理流程优先级**：\n1. 首先尝试从OCR文本中提取机构信息\n\
            2. 如果OCR文本中提取失败或结果为空，则转向分析footnote_text\n3. 从footnote_text中查找包含机构关键词的片段\n\
            4. 清理并返回机构名称\n\n7.  **Code_Url** (String):\n    * **高优先级搜索**。\n    * 查找范围：Abstract,\
            \ Introduction, Conclusion 以及 OCR 的页眉页脚。\n    * **严格鉴别**：\n        1.\
            \ 必须是**本论文**的官方实现（通常伴随 \"Official implementation\", \"Code is released\
            \ at\"）。\n        2. **排除** 引用文献中的链接（即排除出现在 `[...]` 或 Reference 章节的链接）。\n\
            \        3. 必须以 `http` 开头。\n    * *Output*：仅输出 URL。若确无代码，输出 \"N/A\"。\n\
            \n# Output Format\n请直接输出纯 JSON 对象，确保可以被 `json.loads` 解析。不要包含 Markdown\
            \ 代码块标记（```json）。\n\n{\n  \"One_Liner\": \"...\",\n  \"Architecture\"\
            : \"...\",\n  \"Dataset\": \"...\",\n  \"Metrics\": \"...\",\n  \"Chinese_Abstract\"\
            : \"...\",\n  \"Affiliation\": \"...\",\n  \"Code_Url\": \"...\"\n}"
        reasoning_format: separated
        retry_config:
          max_retries: 5
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: (LLM)分析
        type: llm
        vision:
          enabled: false
      height: 115
      id: '1768746991605'
      parentId: '1768746557884'
      position:
        x: 2041.4565028618445
        y: 65
      positionAbsolute:
        x: 295.06463646094517
        y: -194.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(arg1: dict) -> dict:\n    arxiv_id = arg1.get('arxiv_id',\
          \ '')\n    raw_url = arg1.get('pdf_url', '')\n    pdf_url = f\"https://export.arxiv.org/pdf/{arxiv_id}.pdf\"\
          \ if arxiv_id else raw_url\n\n    return {\n        \"title_str\":     \
          \  arg1.get('title', 'No Title'),\n        \"pdf_url\":         pdf_url,\n\
          \        \"summary_str\":     arg1.get('summary', ''),\n        \"published\"\
          :       arg1.get('published', ''),\n        \"authors\":         arg1.get('authors',\
          \ 'Unknown Authors'),\n        \"comment\":         arg1.get('comment',\
          \ 'N/A'),\n        \"arxiv_id\":        arxiv_id,\n        \"source\": \
          \         arg1.get('source', 'arxiv'),\n        \"upvotes\":         arg1.get('upvotes',\
          \ 0) or 0,\n        \"hf_github_stars\": arg1.get('githubStars', 0) or 0,\n\
          \        \"hf_github_repo\":  arg1.get('githubRepo', '') or '',\n    }"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          arxiv_id:
            children: null
            type: string
          authors:
            children: null
            type: string
          comment:
            children: null
            type: string
          hf_github_repo:
            children: null
            type: string
          hf_github_stars:
            children: null
            type: number
          pdf_url:
            children: null
            type: string
          published:
            children: null
            type: string
          source:
            children: null
            type: string
          summary_str:
            children: null
            type: string
          title_str:
            children: null
            type: string
          upvotes:
            children: null
            type: number
        selected: false
        title: DataUnpack
        type: code
        variables:
        - value_selector:
          - '1768746557884'
          - item
          value_type: object
          variable: arg1
      height: 50
      id: '1768808528449'
      parentId: '1768746557884'
      position:
        x: 50.91783861708382
        y: 80.15716566510395
      positionAbsolute:
        x: -1695.4740277838155
        y: -179.18177568074515
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\nimport re\n\ndef main(title: str, url: str, summary: str,\n\
          \    llm_string: str, pub_date: str, comment: str, authors: str,\n    source:\
          \ str = \"arxiv\", upvotes: int = 0,\n    hf_github_stars: int = 0, hf_github_repo:\
          \ str = \"\") -> dict:\n    pub_status = \"Preprint\"\n    comment = comment\
          \ if comment else \"N/A\"\n    \n    if comment != \"N/A\":\n        conf_keywords\
          \ = ['cvpr', 'iccv', 'eccv', 'nips', 'neurips', 'iclr', 'aaai', 'ijcai',\
          \ 'acl', 'emnlp', 'naacl', 'siggraph', 'kdd', 'icml']\n        lower_comment\
          \ = comment.lower()\n        \n        for kw in conf_keywords:\n      \
          \      if kw in lower_comment:\n                display_comment = comment[:25]\
          \ + \"...\" if len(comment) > 25 else comment\n                pub_status\
          \ = f\"\U0001F389 {kw.upper()} ({display_comment})\"\n                break\n\
          \        else:\n            if 'conf' in lower_comment or 'proc' in lower_comment:\n\
          \                pub_status = \"\U0001F4C5 Conference/Journal\"\n      \
          \      elif 'workshop' in lower_comment:\n                pub_status = \"\
          \U0001F6E0️ Workshop\"\n    \n    try:\n        clean_date = pub_date[:10]\n\
          \    except:\n        clean_date = \"Recent\"\n\n    full_status_line =\
          \ f\"{clean_date} | {pub_status}\"\n\n    ai_data = {\n        \"One_Liner\"\
          : \"AI is reading...\",\n        \"Architecture\": \"Integrated architecture\"\
          ,\n        \"Dataset\": \"Relevant data\",\n        \"Metrics\": \"Core\
          \ metrics\",\n        \"Affiliation\": \"Extracting...\",\n        \"Code_Url\"\
          : \"N/A\",\n        \"Chinese_Abstract\": \"\" \n    }\n\n    try:\n   \
          \     if llm_string:\n            clean_content = llm_string.strip()\n \
          \           \n            code_block_match = re.search(\n              \
          \  r'```(?:json)?\\s*(\\{.*?\\})\\s*```',\n                clean_content,\n\
          \                re.DOTALL\n            )\n            if code_block_match:\n\
          \                clean_json = code_block_match.group(1)\n            else:\n\
          \                match = re.search(r'\\{.*\\}', clean_content, re.DOTALL)\n\
          \                clean_json = match.group() if match else clean_content\n\
          \            \n            clean_json = clean_json.strip()\n           \
          \ \n            try:\n                parsed_data = json.loads(clean_json,\
          \ strict=False)\n            except json.JSONDecodeError:\n            \
          \    clean_json = clean_json.replace(\"'\", '\"')\n                clean_json\
          \ = re.sub(r',\\s*}', '}', clean_json)\n                clean_json = re.sub(r',\\\
          s*]', ']', clean_json)\n                try:\n                    parsed_data\
          \ = json.loads(clean_json, strict=False)\n                except:\n    \
          \                parsed_data = None\n            \n            if parsed_data\
          \ and isinstance(parsed_data, dict):\n                for key in ai_data:\n\
          \                    if key in parsed_data and parsed_data[key] and parsed_data[key]\
          \ != \"N/A\":\n                        ai_data[key] = parsed_data[key]\n\
          \                    elif key.lower() in parsed_data and parsed_data[key.lower()]\
          \ and parsed_data[key.lower()] != \"N/A\":\n                        ai_data[key]\
          \ = parsed_data[key.lower()]\n    except:\n        pass\n    \n    extracted_code\
          \ = ai_data.get(\"Code_Url\", \"N/A\")\n    display_code = \"N/A\"\n   \
          \ final_code_url = \"N/A\"\n    \n    invalid_keywords = [\"n/a\", \"none\"\
          , \"null\", \"unknown\", \"coming soon\", \"no code\", \"\"]\n    \n   \
          \ if extracted_code and str(extracted_code).strip().lower() not in invalid_keywords:\n\
          \        clean_url = str(extracted_code).strip(\".,()[]'\\\"`。， \\t\\n\\\
          r\")\n        if clean_url.startswith((\"http://\", \"https://\")):\n  \
          \          display_code = \"✅ Code Available\"\n            final_code_url\
          \ = clean_url\n        elif \".\" in clean_url:\n            final_code_url\
          \ = f\"https://{clean_url.lstrip('www.')}\"\n            display_code =\
          \ \"✅ Code Available\"\n\n    # Fix 3: HF论文优先用 hf_github_repo 作为 code_url\n\
          \    if hf_github_repo and final_code_url == 'N/A':\n        final_code_url\
          \ = hf_github_repo\n        display_code = \"✅ Code Available\"\n\n    #\
          \ 提取 arxiv_id（从 url 里解析，作为兜底）\n    arxiv_id_extracted = ''\n    try:\n \
          \       import re as _re\n        m = _re.search(r'arxiv\\.org/(?:pdf|abs)/([\\\
          d.]+)', url or '')\n        if m:\n            arxiv_id_extracted = m.group(1)\n\
          \    except:\n        pass\n\n    paper = {\n        \"title\": title or\
          \ \"No Title\",\n        \"authors\": authors if authors else \"Unknown\
          \ Authors\",\n        \"affiliation\": ai_data.get(\"Affiliation\", \"N/A\"\
          ),\n        \"pdf_url\": url,\n        \"arxiv_id\": arxiv_id_extracted,\n\
          \        \"summary\": summary,\n        \"published\": full_status_line,\n\
          \        \"github_stats\": display_code,\n        \"code_url\": final_code_url,\n\
          \        \"source\": source or \"arxiv\",\n        \"upvotes\": upvotes\
          \ or 0,\n        \"hf_github_stars\": hf_github_stars or 0,\n        \"\
          hf_github_repo\": hf_github_repo or \"\",\n        \"ai_evaluation\": ai_data\n\
          \    }\n    \n    return {\n        \"merged_paper\": paper\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          merged_paper:
            children: null
            type: object
        selected: false
        title: 数据组装
        type: code
        variables:
        - value_selector:
          - '1768808528449'
          - title_str
          value_type: string
          variable: title
        - value_selector:
          - '1768808528449'
          - pdf_url
          value_type: string
          variable: url
        - value_selector:
          - '1768808528449'
          - summary_str
          value_type: string
          variable: summary
        - value_selector:
          - '1768746991605'
          - text
          value_type: string
          variable: llm_string
        - value_selector:
          - '1768808528449'
          - published
          value_type: string
          variable: pub_date
        - value_selector:
          - '1768808528449'
          - comment
          value_type: string
          variable: comment
        - value_selector:
          - '1768808528449'
          - authors
          value_type: string
          variable: authors
        - value_selector:
          - '1768808528449'
          - source
          value_type: string
          variable: source
        - value_selector:
          - '1768808528449'
          - upvotes
          value_type: number
          variable: upvotes
        - value_selector:
          - '1768808528449'
          - hf_github_stars
          value_type: number
          variable: hf_github_stars
        - value_selector:
          - '1768808528449'
          - hf_github_repo
          value_type: string
          variable: hf_github_repo
      height: 50
      id: '1768808667129'
      parentId: '1768746557884'
      position:
        x: 2310.3459924053013
        y: 102.99999999999994
      positionAbsolute:
        x: 563.954126004402
        y: -156.33894134584915
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        outputs:
        - value_selector:
          - '1768830612348'
          - output
          value_type: string
          variable: output_1
        selected: false
        title: 输出
        type: end
      height: 87
      id: '1768809610681'
      position:
        x: 2220.4059932785626
        y: -345.91204008998875
      positionAbsolute:
        x: 2220.4059932785626
        y: -345.91204008998875
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        selected: false
        template: "\U0001F4C5 PaperEssence 科研日报\n根据您指定的研究内容\"{{ raw_topic }}\"，每天推送arxiv近段时间更新论文中挑选的3篇论文。\n\
          --------------------------------------------------\n⚠️ 注：内容由 AI 生成，仅供学术参考。请在引用或深入研究前，务必点击\
          \ PDF 链接查阅原始论文进行核实。\n生成日期: {{ items.target_date | default('Today') }}\n\
          ==================================================\n\n\U0001F4CC 【本期导读 ·\
          \ 系列关联分析】\n{{ series_summary }}\n\n==================================================\n\
          \n{# 自动适配数据结构 #}\n{% set final_list = items.paper | default(items) %}\n\n\
          {% for item in final_list %}\n\U0001F4C4 [{{ loop.index }}] {{ item.title\
          \ }}\n--------------------------------------------------\n\U0001F464 作者:\
          \ {{ item.authors }}\n\U0001F3E2 机构: {{ item.affiliation }}\n\U0001F517\
          \ PDF: {{ item.pdf_url }}\n\U0001F4C5 状态: {{ item.published }}\n{% if item.code_url\
          \ and item.code_url != 'N/A' %}\n\U0001F4E6 Code: {{ item.github_stats }}\n\
          \   \U0001F517 {{ item.code_url }}\n{% else %}\n\U0001F4E6 Code: {{ item.github_stats\
          \ }}\n{% endif %}\n\n⭐ GitHub Stars: {{ item.github_stars_display | default('N/A')\
          \ }}{% if item.github_star_count and item.github_star_count >= 100 %}  ←\
          \ 已超过 100 Stars{% endif %}\n\n\U0001F680 社区热度: {{ item.x_heat_display |\
          \ default('—') }}\n{% if item.x_hot %}\n   \U0001F4CE HuggingFace收录页: {{\
          \ item.hf_papers_url }}\n{% endif %}\n\n\U0001F4CA 中文摘要:\n{{ item.ai_evaluation.Chinese_Abstract\
          \ }}\n\n\U0001F680 核心创新:\n{{ item.ai_evaluation.One_Liner }}\n\n\U0001F4CA\
          \ 总结:\n--------------------------------------------------\n\U0001F3D7️ 架构:\n\
          {{ item.ai_evaluation.Architecture | replace('\\n- ', '\\n\\n   \U0001F539\
          \ ') | replace('- ', '   \U0001F539 ') }}\n\n\U0001F4BE 数据:\n{{ item.ai_evaluation.Dataset\
          \ | replace('\\n- ', '\\n\\n   \U0001F539 ') | replace('- ', '   \U0001F539\
          \ ') }}\n\n\U0001F4C8 指标:\n{{ item.ai_evaluation.Metrics | replace('\\n-\
          \ ', '\\n\\n   \U0001F539 ') | replace('- ', '   \U0001F539 ') }}\n\n==================================================\n\
          {% else %}\n⚠️ 今日无新论文更新。\n{% endfor %}"
        title: 模板转换
        type: template-transform
        variables:
        - value_selector:
          - '1768746557884'
          - output
          value_type: array[object]
          variable: items
        - value_selector:
          - '1769347686844'
          - raw_topic
          value_type: string
          variable: raw_topic
        - value_selector:
          - '1772600005'
          - text
          value_type: string
          variable: series_summary
      height: 50
      id: '1768830612348'
      position:
        x: 1865.2448215151871
        y: -205.10612297652602
      positionAbsolute:
        x: 1865.2448215151871
        y: -205.10612297652602
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        config:
          frequency: daily
          mode: visual
          timezone: UTC
          visual_config:
            monthly_days:
            - 1
            on_minute: 0
            time: 12:00 AM
            weekdays:
            - sun
        frequency: daily
        mode: visual
        selected: false
        timezone: Asia/Shanghai
        title: 定时触发器
        type: trigger-schedule
        visual_config:
          monthly_days:
          - 1
          on_minute: 0
          time: 4:01 PM
          weekdays:
          - sun
      height: 128
      id: '1769347575869'
      position:
        x: -302.04326444268133
        y: -741.114434222889
      positionAbsolute:
        x: -302.04326444268133
        y: -741.114434222889
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import os\n\ndef main(\n    send_email: str,\n    MY_RAW_TOPIC: str,\n\
          \    SMTP_PORT: str,\n    SMTP_SERVER: str,\n    SMTP_PASSWORD: str,\n \
          \   table_name: str,\n    re_email:str\n) -> dict:\n\n    re_email = re_email\n\
          \    send_email = send_email\n    raw_topic = MY_RAW_TOPIC\n\n    smtp_port\
          \ = SMTP_PORT\n    smtp_server = SMTP_SERVER\n    smtp_password = SMTP_PASSWORD\n\
          \    table_name = table_name\n\n    return {\n        # 搜索语句\n        \"\
          raw_topic\": raw_topic,\n\n        # 接收邮箱\n        \"send_email\": send_email,\n\
          \        \"re_email\": re_email,\n        # SMTP 配置（供后续邮件节点使用）\n       \
          \ \"smtp_port\": smtp_port,\n        \"smtp_server\": smtp_server,\n   \
          \     \"smtp_password\": smtp_password,\n\n        # 其他不敏感的配置\n        \"\
          fetch_count\": 50,\n        \"push_limit\": 3,\n        \"days_lookback\"\
          : 900,\n        \"table_name\": table_name\n    }"
        code_language: python3
        outputs:
          days_lookback:
            children: null
            type: number
          fetch_count:
            children: null
            type: number
          push_limit:
            children: null
            type: number
          raw_topic:
            children: null
            type: string
          re_email:
            children: null
            type: string
          send_email:
            children: null
            type: string
          smtp_password:
            children: null
            type: string
          smtp_port:
            children: null
            type: string
          smtp_server:
            children: null
            type: string
          table_name:
            children: null
            type: string
        selected: false
        title: 配置
        type: code
        variables:
        - value_selector:
          - env
          - SMTP_PORT
          value_type: string
          variable: SMTP_PORT
        - value_selector:
          - env
          - SMTP_SERVER
          value_type: string
          variable: SMTP_SERVER
        - value_selector:
          - env
          - SMTP_USER
          value_type: secret
          variable: send_email
        - value_selector:
          - env
          - SMTP_PASSWORD
          value_type: secret
          variable: SMTP_PASSWORD
        - value_selector:
          - env
          - MY_RAW_TOPIC
          value_type: string
          variable: MY_RAW_TOPIC
        - value_selector:
          - env
          - table_name
          value_type: string
          variable: table_name
        - value_selector:
          - env
          - re_email
          value_type: secret
          variable: re_email
      height: 50
      id: '1769347686844'
      position:
        x: -10.618840728187848
        y: -720.114434222889
      positionAbsolute:
        x: -10.618840728187848
        y: -720.114434222889
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nimport re\n\ndef main(llm_string) -> dict:\n    selected_papers\
          \ = []\n\n    def try_parse(content):\n        \"\"\"尝试将任意内容解析为 Python 对象\"\
          \"\"\n        if isinstance(content, dict) or isinstance(content, list):\n\
          \            return content\n        try:\n            # 尝试直接解析\n      \
          \      return json.loads(content)\n        except:\n            # 尝试正则提取\
          \ JSON\n            match = re.search(r'(\\{.*\\}|\\[.*\\])', str(content),\
          \ re.DOTALL)\n            if match:\n                try:\n            \
          \        return json.loads(match.group())\n                except:\n   \
          \                 pass\n        return None\n\n    try:\n        # 第一层解析\n\
          \        data = try_parse(llm_string)\n\n        # 处理嵌套\n        if isinstance(data,\
          \ dict) and 'text' in data:\n            inner_data = try_parse(data['text'])\n\
          \            if inner_data: \n                data = inner_data\n      \
          \  \n        # 归一化\n        if isinstance(data, list):\n            selected_papers\
          \ = data\n        elif isinstance(data, dict):\n            # 优先找 papers\
          \ 字段\n            if 'papers' in data and isinstance(data['papers'], list):\n\
          \                selected_papers = data['papers']\n            elif 'top_papers'\
          \ in data and isinstance(data['top_papers'], list):\n                selected_papers\
          \ = data['top_papers']\n            else:\n                for v in data.values():\n\
          \                    if isinstance(v, list):\n                        selected_papers\
          \ = v\n                        break\n        \n        if not isinstance(selected_papers,\
          \ list):\n            selected_papers = []\n\n    except Exception as e:\n\
          \        print(f\"解析严重失败: {str(e)}\")\n        selected_papers = []\n\n\
          \    return {\n        \"top_papers\": selected_papers,\n        \"count\"\
          : len(selected_papers)\n    }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          top_papers:
            children: null
            type: array[object]
        selected: false
        title: JSON 解析
        type: code
        variables:
        - value_selector:
          - '1769350813065'
          - text
          value_type: string
          variable: llm_string
      height: 50
      id: '1769349445686'
      position:
        x: 792.487649568333
        y: -424.6645012850043
      positionAbsolute:
        x: 792.487649568333
        y: -424.6645012850043
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: paddle-aistudio/ernie-paddle-aistudio/ernie-paddle-aistudio-api
        prompt_template:
        - id: 57470293-294d-4555-b0de-aa67069937e8
          role: system
          text: "# Role\n你是由 NeurIPS, ICLR, CVPR 顶级会议 Area Chair 组成的评审委员会。你拥有极高的学术品味，对\
            \ \"Incremental Work\" (增量工作) 零容忍，只寻找能推动领域发展的 \"Groundbreaking Work\"\
            \ (突破性工作)。\n\n# Task\n\n# Priority Signals（必须遵守）\n每篇论文对象中包含以下预计算的优先级信号字段：\n\
            - `upvotes`: HuggingFace Papers 社区 upvote 数，代表 X.com 社区热度（越高越优先）\n- `githubRepo`:\
            \ 配套 GitHub 仓库链接（非空即表示有代码）\n- `githubStars`: GitHub Stars 数（> 100 为高质量信号）\n\
            - `source`: 数据来源，`hf` 表示已被 HuggingFace Papers 收录（即已在 X.com 传播）\n\n## 强制优先规则：\n\
            1. `source=hf` 的论文**必须优先**于 `source=arxiv` 的论文。\n2. `upvotes` 高的论文优先（体现\
            \ X.com 社区真实热度）。\n3. `githubRepo` 非空的论文优先于没有代码的论文。\n4. 在满足以上条件的论文中，再按创新性/完整性评分选\
            \ Top 3。\n\n输入是{{#1780000004.count#}}篇最新发布的计算机视觉与大模型领域论文。\n请执行严格的 **同行评审\
            \ (Peer Review)** 流程，从列表中筛选出 **Top 3** 篇最有价值的论文。\n\n# Review Criteria\
            \ (评分标准)\n在脑海中对每篇论文进行打分 (不要输出分数，仅用于筛选)：\n\n1. **创新性 (Novelty)**:\n   -\
            \ ✅ 必须提出新的架构、新的训练范式、或解决了一个长期未决的痛点。\n   - ❌ 拒绝简单的 \"A+B\" 缝合怪、单纯的参数微调或已知方法的微小改动。\n\
            \n2. **启发性 (Insight)**:\n   - ✅ 论文是否提供了令人惊讶的发现？是否挑战了现有的认知？\n   - ❌ 拒绝单纯的\"\
            刷榜\"论文 (仅在某个数据集上提升 0.1%)。\n\n3. **完整性 (Completeness)**:\n   - ✅ 摘要中是否包含明确的方法论、实验结论和具体指标。\n\
            \n4. **机构权威性 (Authority)** [加分项]:\n   - ✅ 优先选择来自顶级研究机构的论文，包括但不限于：MIT、Stanford、CMU、Oxford、Cambridge、ETH\
            \ Zurich、Berkeley、Princeton、Google DeepMind、Google Research、OpenAI、Meta\
            \ AI Research、Microsoft Research、Apple、NVIDIA Research、清华大学、北京大学、中科院、上海人工智能实验室等。\n\
            \   - 同等质量下，权威机构论文优先。\n\n5. **系列关联性 (Series Coherence)** [重要]:\n   - ✅\
            \ **强烈优先**选择在研究方向上有内在联系的3篇论文（如：同一技术问题的不同解法、同一方向的递进研究、共同构成一个完整研究图谱的论文）。\n\
            \   - 目标：让读者读完这3篇后，能对某个研究方向形成连贯、深入的理解，而不是3个孤立的碎片。\n   - 示例：选择\"RAG改进 +\
            \ RAG评估 + RAG在生产环境的挑战\"，而不是\"RAG改进 + 图像分割 + 语音识别\"。\n\n# Negative Filtering\
            \ (负面过滤 - 遇到此类直接剔除)\n- 标题含有 \"A Survey of...\" 或 \"Review\" 的综述文章 (除非该领域极度缺乏综述)。\n\
            - 摘要空洞，充满 \"State-of-the-art\" 堆砌但没有讲清楚具体方法的文章。\n- 与计算机科学/AI 核心技术无关的边缘应用文章。\n\
            \n# Output Constraints (CRITICAL)\n1. **纯净 JSON**: 输出必须是原始 JSON 数组格式 `[...]`。**严禁**在\
            \ JSON 前后添加 \"Here is...\" 或 \"```json\" 等 Markdown 标记。\n2. **结构完整**:\
            \ 必须保留输入对象的所有原始字段 (title, pdf_url, summary, authors, published, etc.)，**严禁修改字段名**，严禁添加新字段。\n\
            3. **数量控制**:\n   - 如果输入论文 > 3 篇：严格输出评分最高的 **3** 篇，并尽量保证它们有关联性。\n   - 如果输入论文\
            \ <= 3 篇：输出全部。\n\n# Input Data\n{{#1780000004.result#}}"
        selected: false
        title: LLM初审
        type: llm
        vision:
          enabled: false
      height: 86
      id: '1769350813065'
      position:
        x: 378.0375398428883
        y: -498.709827196626
      positionAbsolute:
        x: 378.0375398428883
        y: -498.709827196626
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          label:
            en_US: Email username
            ja_JP: Email username
            pt_BR: Email username
            zh_Hans: 邮箱用户名
          llm_description: Email username
          max: null
          min: null
          name: username_send
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          label:
            en_US: AUTHORIZE CODE
            ja_JP: AUTHORIZE CODE
            pt_BR: CODE DE AUTORIZAÇÃO
            zh_Hans: 授权码
          llm_description: AUTHORIZE CODE
          max: null
          min: null
          name: authorization_code
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          label:
            en_US: Recipient mailbox, multiple mailboxes separated by commas
            ja_JP: Recipient mailbox, multiple mailboxes separated by commas
            pt_BR: Recipiente de correio electrónico, endereços de correio electrónico
              múltiplos separados por vírgulas
            zh_Hans: 收件人邮箱，多个邮箱逗号隔开
          llm_description: Recipient mailbox, multiple mailboxes separated by commas
          max: null
          min: null
          name: username_recv
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          label:
            en_US: subject
            ja_JP: subject
            pt_BR: tema
            zh_Hans: 主题
          llm_description: subject
          max: null
          min: null
          name: subject
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          label:
            en_US: content
            ja_JP: content
            pt_BR: conteúdo
            zh_Hans: 内容
          llm_description: 内容
          max: null
          min: null
          name: content
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          authorization_code: ''
          content: ''
          subject: ''
          username_recv: ''
          username_send: ''
        plugin_id: wjdsg/163-smtp-send-mail
        plugin_unique_identifier: wjdsg/163-smtp-send-mail:0.0.1@53922437a73d6512114f3e915dcad3b7c85b7df687ae2013d96e97e6e3b6fd6a
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=d34785dd2b36ddffe8dc7c28d648a5a18e590831169662dd0f37d0cc48d3d203.svg
        provider_id: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_name: wjdsg/163-smtp-send-mail/163-smtp-send-mail
        provider_type: builtin
        selected: false
        title: 163SMTP邮件发送
        tool_configurations: {}
        tool_description: 163SMTP邮件发送
        tool_label: 163SMTP邮件发送
        tool_name: 163-smtp-send-mail
        tool_node_version: '2'
        tool_parameters:
          authorization_code:
            type: mixed
            value: '{{#1769347686844.smtp_password#}}'
          content:
            type: mixed
            value: '{{#1768830612348.output#}}'
          subject:
            type: mixed
            value: PaperEssence-{{#1780000004.cutoff_str#}}-{{#1780000004.today_str#}}
          username_recv:
            type: mixed
            value: '{{#1769347686844.re_email#}}'
          username_send:
            type: mixed
            value: '{{#1769347686844.send_email#}}'
        type: tool
      height: 50
      id: '1769364120122'
      position:
        x: 2191.656668036981
        y: -126.02520157127343
      positionAbsolute:
        x: 2191.656668036981
        y: -126.02520157127343
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the table to query.
            ja_JP: クエリ対象のテーブル名。
            pt_BR: The name of the table to query.
            zh_Hans: The name of the table to query.
          label:
            en_US: Table Name
            ja_JP: テーブル名
            pt_BR: Table Name
            zh_Hans: Table Name
          llm_description: Provide the name of the table you want to query in Supabase.
          max: null
          min: null
          name: table
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum number of rows to return.
            ja_JP: 返される最大行数。
            pt_BR: Maximum number of rows to return.
            zh_Hans: Maximum number of rows to return.
          label:
            en_US: Limit
            ja_JP: 上限
            pt_BR: Limit
            zh_Hans: Limit
          llm_description: Specify how many rows you want to retrieve. Default is
            10.
          max: null
          min: null
          name: limit
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Optional filter condition (e.g., 'status=active').
            ja_JP: オプションのフィルター条件（例：'status=active'）。
            pt_BR: Optional filter condition (e.g., 'status=active').
            zh_Hans: Optional filter condition (e.g., 'status=active').
          label:
            en_US: Filter
            ja_JP: フィルター
            pt_BR: Filter
            zh_Hans: Filter
          llm_description: Provide a filter condition if needed. (e.g., 'status=active')
          max: null
          min: null
          name: filter
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          filter: ''
          limit: ''
          table: ''
        plugin_id: langgenius/supabase
        plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=6239d130d5b7cbd43ca28b8fc2c08cccbe1440495aae395a8b8c31f0a086c149.svg
        provider_id: langgenius/supabase/supabase
        provider_name: langgenius/supabase/supabase
        provider_type: builtin
        selected: false
        title: Get Rows
        tool_configurations: {}
        tool_description: Get rows from a specified table in Supabase.
        tool_label: Get Rows
        tool_name: get_rows
        tool_node_version: '2'
        tool_parameters:
          filter:
            type: mixed
            value: ''
          limit:
            type: constant
            value: 3000
          table:
            type: mixed
            value: '{{#1769347686844.table_name#}}'
        type: tool
      height: 50
      id: '1769954998188'
      position:
        x: 516.3775369091078
        y: -692.1144342228893
      positionAbsolute:
        x: 516.3775369091078
        y: -692.1144342228893
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768746557884'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The name of the table to insert into.
            ja_JP: 挿入先のテーブル名。
            pt_BR: The name of the table to insert into.
            zh_Hans: The name of the table to insert into.
          label:
            en_US: Table Name
            ja_JP: テーブル名
            pt_BR: Table Name
            zh_Hans: Table Name
          llm_description: Provide the name of the table where you want to insert
            a new row.
          max: null
          min: null
          name: table
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data for the new row as a JSON object.
            ja_JP: 新しい行のデータ（JSON オブジェクト形式）。
            pt_BR: Data for the new row as a JSON object.
            zh_Hans: Data for the new row as a JSON object.
          label:
            en_US: Row Data
            ja_JP: 行データ
            pt_BR: Row Data
            zh_Hans: Row Data
          llm_description: Provide the data for the new row in JSON format.
          max: null
          min: null
          name: data
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          data: ''
          table: ''
        plugin_id: langgenius/supabase
        plugin_unique_identifier: langgenius/supabase:0.1.0@6bdd6f533a5ba5c236c5a3d08a8483176f6d9a749b33181bde6aee1f4b30706e
        provider_icon: /console/api/workspaces/current/plugin/icon?tenant_id=be1517bb-1196-402b-b2bd-601dbc4b7e82&filename=6239d130d5b7cbd43ca28b8fc2c08cccbe1440495aae395a8b8c31f0a086c149.svg
        provider_id: langgenius/supabase/supabase
        provider_name: langgenius/supabase/supabase
        provider_type: builtin
        selected: false
        title: Create a Row
        tool_configurations: {}
        tool_description: Create a new row in a specified table in Supabase.
        tool_label: Create a Row
        tool_name: create_a_row
        tool_node_version: '2'
        tool_parameters:
          data:
            type: mixed
            value: '{"arxiv_id": "{{#1768808528449.arxiv_id#}}"}'
          table:
            type: mixed
            value: '{{#1769347686844.table_name#}}'
        type: tool
      height: 50
      id: '1769957710193'
      parentId: '1768746557884'
      position:
        x: 313.0807078766977
        y: 66.51571656651038
      positionAbsolute:
        x: -1433.3111585242016
        y: -192.82322477933872
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: paddle-aistudio/ernie-paddle-aistudio/ernie-paddle-aistudio-api
        prompt_template:
        - id: a476507a-b960-42dc-b0e3-0d6a7e5babe4
          role: system
          text: '# Role

            你是一个 ArXiv 搜索专家，专门负责将用户的非正式中文描述转化为高召回率的 **英文 ArXiv 查询字符串**。



            # Task

            分析用户的输入，提取核心概念，扩展同义词，并构建符合 ArXiv 语法的查询字符串。



            # Rules

            1. **术语标准化与扩展 (最重要)**：

               - 将非正式表达转化为标准的学术术语（如"记忆链" -> memory OR "memory mechanism" OR "long-term
            memory"）。

               - 扩展缩写（如 RL -> reinforcement OR "reinforcement learning"）。

               - 包含核心概念的常见同义词，用 `OR` 连接。



            2. **平衡精确度与召回率**：

               - **优先使用不带引号的单词**（如 agent, memory），以获得更高召回率。

               - **仅对必须精确匹配的专有名词使用引号**（如 "GPT-4", "BERT"）。

               - 对于通用概念（如 agent, memory, learning），不要加引号。



            3. **结构化构建**：

               - 不同概念之间用 `AND` 连接。

               - 同一概念的同义词组用括号 `()` 包裹，并用 `OR` 连接。



            4. **去噪**：忽略"帮我找"、"最新的"、"经典的"等无关词汇。



            5. **输出限制**：

               - **不要**输出 `cat:` 分类标签（这一步由后续代码自动处理）。

               - **不要**输出任何解释，只输出查询字符串本身。



            # Examples

            Input: 搜索关于agent记忆链的研究，特别是怎么减少遗忘

            Output: (agent OR "autonomous agent" OR "LLM agent") AND (memory OR "memory
            mechanism" OR "long-term memory") AND (forgetting OR "catastrophic forgetting")



            Input: 基于大模型的多智能体通信优化

            Output: ("large language model" OR LLM OR language model) AND ("multi-agent"
            OR multiagent) AND (communication OR optimization)



            Input: 扩散模型在医疗图像分割中的应用

            Output: (diffusion OR "diffusion model") AND (medical OR biomedical) AND
            (segmentation OR "image segmentation")



            Input: 对比学习用于推荐系统

            Output: ("contrastive learning" OR contrastive) AND (recommendation OR
            recommender)



            # Input: {{#1769347686844.raw_topic#}}'
        retry_config:
          max_retries: 5
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 研究领域LLM翻译
        type: llm
        vision:
          enabled: false
      height: 115
      id: '1770443235033'
      position:
        x: 252.9371576016536
        y: -734.2232020013062
      positionAbsolute:
        x: 252.9371576016536
        y: -734.2232020013062
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: User-Agent:test_sea
        method: get
        params: 'search_query:{{#1770469411002.base_query#}}

          start:0

          max_results:{{#1770469411002.fetch_limit#}}

          sortBy:submittedDate

          sortOrder:descending'
        retry_config:
          max_retries: 10
          retry_enabled: true
          retry_interval: 2127
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 'HTTP 请求 '
        type: http-request
        url: http://export.arxiv.org/api/query
        variables: []
      height: 135
      id: '1770469208395'
      position:
        x: -426.5530570995621
        y: -533.1564339561794
      positionAbsolute:
        x: -426.5530570995621
        y: -533.1564339561794
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nfrom datetime import datetime, timedelta\nimport re\n\n\
          def main(topic: str, days_lookback: int, count: int, supabase_output: list\
          \ = None) -> dict:\n    \"\"\"\n    预处理：接收已转换为英文的关键词，构建ArXiv查询\n    \"\"\
          \"\n    # 基础参数处理\n    today = datetime.now()\n    days = int(days_lookback)\
          \ if days_lookback else 3 # 默认多看几天\n    cutoff_date = today - timedelta(days=days)\n\
          \    \n    cutoff_str = cutoff_date.strftime('%Y-%m-%d')\n    today_str\
          \ = today.strftime('%Y-%m-%d')\n    \n    # 解析已推送ID \n    pushed_ids = []\n\
          \    if supabase_output and isinstance(supabase_output, list):\n       \
          \ try:\n            # 尝试递归查找或扁平化处理，防止结构变化导致崩溃\n            def extract_ids(obj):\n\
          \                ids = []\n                if isinstance(obj, dict):\n \
          \                   if \"arxiv_id\" in obj:\n                        val\
          \ = obj[\"arxiv_id\"]\n                        if val: ids.append(str(val).strip('{}\
          \ ').split('v')[0])\n                    for k, v in obj.items():\n    \
          \                    ids.extend(extract_ids(v))\n                elif isinstance(obj,\
          \ list):\n                    for item in obj:\n                       \
          \ ids.extend(extract_ids(item))\n                return ids\n          \
          \  \n            pushed_ids = list(set(extract_ids(supabase_output)))\n\
          \        except Exception:\n            pushed_ids = []\n\n    # 构建鲁棒的查询字符串\n\
          \    def build_robust_query(search_terms):\n        # 预清洗：移除多余空格，转小写\n \
          \       clean_topic = re.sub(r'\\s+', ' ', search_terms.strip())\n     \
          \   \n        # 如果 LLM 已经生成了带有布尔逻辑的字符串（如 AND/OR），直接使用\n        if any(x\
          \ in clean_topic for x in [' AND ', ' OR ', 'cat:', 'ti:', 'abs:']):\n \
          \           return clean_topic\n\n        # 提取关键词（排除极短词）\n        keywords\
          \ = [w for w in clean_topic.split() if len(w) > 1]\n        \n        if\
          \ not keywords:\n            return \"cat:cs.AI\" # 兜底\n\n        # 策略：构建\
          \ (ti:A OR abs:A) AND (ti:B OR abs:B)\n        # 只要标题或摘要里有这个词就算命中\n    \
          \    query_parts = []\n        for kw in keywords:\n            # 给关键词加引号以进行精确匹配，避免\
          \ partial match 干扰\n            part = f'(ti:{kw} OR abs:{kw})'\n      \
          \      query_parts.append(part)\n        \n        return ' AND '.join(query_parts)\n\
          \n    base_query = build_robust_query(topic)\n\n    # 自动追加分类限制\n    # 只有当查询中没有显式指定分类时才自动追加\n\
          \    if 'cat:' not in base_query:\n        topic_lower = topic.lower()\n\
          \        cat_map = {\n            'cs.CV': ['vision', 'image', 'detection',\
          \ 'segmentation', 'video'],\n            'cs.CL': ['nlp', 'language', 'text',\
          \ 'transformer', 'bert', 'gpt', 'llm', 'prompt'],\n            'cs.RO':\
          \ ['robot', 'manipulation', 'nav'],\n            'cs.CR': ['security', 'crypto',\
          \ 'attack', 'defense'],\n            'cs.LG': ['machine learning', 'deep\
          \ learning', 'reinforcement', 'neural'],\n            'cs.SE': ['software',\
          \ 'code', 'debugging']\n        }\n        \n        added_cats = []\n \
          \       for cat, triggers in cat_map.items():\n            if any(t in topic_lower\
          \ for t in triggers):\n                added_cats.append(f'cat:{cat}')\n\
          \        \n        # 如果匹配到分类，限制范围；如果没有，默认搜索整个 CS 领域或保持原样\n        if added_cats:\n\
          \            # 使用 OR 连接多个可能的分类，例如既可能是 CV 也可能是 LG\n            cat_query\
          \ = ' OR '.join(added_cats)\n            base_query = f'({base_query}) AND\
          \ ({cat_query})'\n\n    # 计算 Fetch Limit\n    # ArXiv API 分页如果不准确，多抓一点由后处理去过滤\n\
          \    fetch_limit = max(int(count) * 5, 100)\n\n    # 生成供后处理使用的关键词列表\n  \
          \  search_keywords_list = [kw.lower() for kw in topic.split() if len(kw)\
          \ > 2]\n\n    return {\n        \"base_query\": base_query,\n        \"\
          pushed_ids\": pushed_ids,\n        \"cutoff_str\": cutoff_str,\n       \
          \ \"today_str\": today_str,\n        \"fetch_limit\": fetch_limit,\n   \
          \     \"count\": int(count),\n        \"search_keywords\": search_keywords_list\n\
          \    }"
        code_language: python3
        outputs:
          base_query:
            children: null
            type: string
          count:
            children: null
            type: number
          cutoff_str:
            children: null
            type: string
          fetch_limit:
            children: null
            type: number
          pushed_ids:
            children: null
            type: array[string]
          search_keywords:
            children: null
            type: array[string]
          today_str:
            children: null
            type: string
        selected: false
        title: 搜索论文节点预处理
        type: code
        variables:
        - value_selector:
          - '1770443235033'
          - text
          value_type: string
          variable: topic
        - value_selector:
          - '1769347686844'
          - days_lookback
          value_type: number
          variable: days_lookback
        - value_selector:
          - '1769347686844'
          - push_limit
          value_type: number
          variable: count
        - value_selector:
          - '1769954998188'
          - json
          value_type: array[object]
          variable: supabase_output
      height: 50
      id: '1770469411002'
      position:
        x: 804.6254166026006
        y: -734.2232020013062
      positionAbsolute:
        x: 804.6254166026006
        y: -734.2232020013062
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import xml.etree.ElementTree as ET\nfrom datetime import datetime\n\
          import json\n\ndef main(\n    http_response_body: str,\n    base_query_var:\
          \ str,\n    pushed_ids_var: list,\n    cutoff_str_var: str,\n    today_str_var:\
          \ str,\n    fetch_limit_var: int,\n    count_var: int,\n    search_keywords_var:\
          \ list\n) -> dict:\n    \"\"\"\n    处理HTTP响应，解析XML并过滤结果\n    \"\"\"\n  \
          \  try:\n        root = ET.fromstring(http_response_body)\n        ns =\
          \ {'atom': 'http://www.w3.org/2005/Atom', 'arxiv': 'http://arxiv.org/schemas/atom'}\n\
          \        entries = root.findall('atom:entry', ns)\n        \n        filtered_results\
          \ = []\n        \n        # 变量解包\n        pushed_ids_str = set(str(item)\
          \ for item in pushed_ids_var) # 用集合查重更快\n        count = int(count_var)\n\
          \        cutoff_date = datetime.strptime(cutoff_str_var, \"%Y-%m-%d\") if\
          \ cutoff_str_var else datetime.now()\n        \n        debug_counters =\
          \ {\"duplicate\": 0, \"too_old\": 0, \"kept\": 0}\n\n        for entry in\
          \ entries:\n            # if len(filtered_results) >= count:\n         \
          \   #     break\n\n            # 提取 ID\n            id_url = entry.find('atom:id',\
          \ ns).text\n            raw_id = id_url.rsplit('/', 1)[-1] if id_url else\
          \ \"\"\n            arxiv_id = raw_id.split('v')[0].strip() # 移除 v1, v2\n\
          \            \n            # 过滤已推送\n            if arxiv_id in pushed_ids_str:\n\
          \                debug_counters[\"duplicate\"] += 1\n                continue\n\
          \            \n            # 过滤日期\n            published_str = entry.find('atom:published',\
          \ ns).text\n            try:\n                # 只取 YYYY-MM-DD\n        \
          \        pub_date_dt = datetime.strptime(published_str[:10], \"%Y-%m-%d\"\
          )\n                if pub_date_dt.date() < cutoff_date.date():\n       \
          \             debug_counters[\"too_old\"] += 1\n                    continue\n\
          \            except:\n                pass # 解析失败则放行，避免误杀\n\n          \
          \  # 提取信息\n            title = entry.find('atom:title', ns).text or \"\"\
          \n            title = title.replace('\\n', ' ').strip()\n            \n\
          \            summary = entry.find('atom:summary', ns).text or \"\"\n   \
          \         summary = summary.replace('\\n', ' ').strip()\n            \n\n\
          \            # 提取作者\n            authors = []\n            for author in\
          \ entry.findall('atom:author', ns):\n                name = author.find('atom:name',\
          \ ns).text\n                if name: authors.append(name)\n            authors_str\
          \ = \", \".join(authors[:3]) + (\" et al.\" if len(authors) > 3 else \"\"\
          )\n\n            # 提取 PDF\n            links = entry.findall('atom:link',\
          \ ns)\n            pdf_url = f\"https://arxiv.org/pdf/{arxiv_id}.pdf\" #\
          \ 默认构造\n            for link in links:\n                if link.attrib.get('title')\
          \ == 'pdf':\n                    pdf_url = link.attrib.get('href')\n\n \
          \           result_item = {\n                \"arxiv_id\": arxiv_id,\n \
          \               \"title\": title,\n                \"summary\": summary,\
          \ # 摘要可以后续由 LLM 总结\n                \"authors\": authors_str,\n        \
          \        \"published\": published_str[:10],\n                \"pdf_url\"\
          : pdf_url,\n                \"url\": id_url\n            }\n           \
          \ \n            filtered_results.append(result_item)\n            debug_counters[\"\
          kept\"] += 1\n\n        return {\n            \"result\": json.dumps(filtered_results,\
          \ ensure_ascii=False),\n            \"count\": len(filtered_results),\n\
          \            \"debug\": f\"Total fetched: {len(entries)}. Dup: {debug_counters['duplicate']},\
          \ Old: {debug_counters['too_old']}, Kept: {debug_counters['kept']}\"\n \
          \       }\n\n    except Exception as e:\n        return {\n            \"\
          result\": \"[]\", \n            \"count\": 0, \n            \"debug\": f\"\
          Error parsing XML: {str(e)}\"\n        }"
        code_language: python3
        outputs:
          count:
            children: null
            type: number
          debug:
            children: null
            type: string
          result:
            children: null
            type: string
        selected: false
        title: 搜索论文节点后处理
        type: code
        variables:
        - value_selector:
          - '1770469208395'
          - body
          value_type: string
          variable: http_response_body
        - value_selector:
          - '1770469411002'
          - base_query
          value_type: string
          variable: base_query_var
        - value_selector:
          - '1770469411002'
          - pushed_ids
          value_type: array[number]
          variable: pushed_ids_var
        - value_selector:
          - '1770469411002'
          - cutoff_str
          value_type: string
          variable: cutoff_str_var
        - value_selector:
          - '1770469411002'
          - today_str
          value_type: string
          variable: today_str_var
        - value_selector:
          - '1770469411002'
          - fetch_limit
          value_type: number
          variable: fetch_limit_var
        - value_selector:
          - '1770469411002'
          - count
          value_type: number
          variable: count_var
        - value_selector:
          - '1770469411002'
          - search_keywords
          value_type: array[string]
          variable: search_keywords_var
      height: 50
      id: '1770469838682'
      position:
        x: 35.15713480309881
        y: -509.1111080445577
      positionAbsolute:
        x: 35.15713480309881
        y: -509.1111080445577
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "def main(doc_json):\n    if doc_json is None:\n        return {\"footnote_text\"\
          : \"\"}\n\n    data = doc_json\n    footnotes = []\n\n    def walk(obj):\n\
          \        if isinstance(obj, dict):\n            if obj.get(\"block_label\"\
          ) == \"footnote\":\n                content = (obj.get(\"block_content\"\
          ) or \"\").strip()\n                if content:\n                    footnotes.append(content)\n\
          \            for v in obj.values():\n                walk(v)\n        elif\
          \ isinstance(obj, list):\n            for v in obj:\n                walk(v)\n\
          \n    walk(data)\n\n    return {\"footnote_text\": \"\\n\".join(footnotes).strip()}\n"
        code_language: python3
        desc: 机构信息有的时候在json里
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          footnote_text:
            children: null
            type: string
        selected: false
        title: get_footnote_text
        type: code
        variables:
        - value_selector:
          - '1772791200305'
          - text
          value_type: string
          variable: doc_json
      height: 78
      id: '1770531933796'
      parentId: '1768746557884'
      position:
        x: 1462.487935994865
        y: 65
      positionAbsolute:
        x: -283.9039304060343
        y: -194.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(ocr_text: str, max_tokens: int = 100000) -> dict:\n    \"\"\
          \"\n    裁剪 OCR 文本以避免超过 LLM 的 token 限制\n    \n    参数:\n    - ocr_text: 原始\
          \ OCR 文本\n    - max_tokens: 最大 token 数（默认 100000，约等于 75000 个中文字符）\n    \n\
          \    返回:\n    - truncated_text: 裁剪后的文本\n    - original_length: 原始文本长度\n\
          \    - truncated_length: 裁剪后文本长度\n    - is_truncated: 是否进行了裁剪\n    \"\"\"\
          \n    \n    if not ocr_text:\n        return {\n            \"truncated_text\"\
          : \"\",\n            \"original_length\": 0,\n            \"truncated_length\"\
          : 0,\n            \"is_truncated\": False\n        }\n    \n    original_length\
          \ = len(ocr_text)\n    \n    # 粗略估算：1 token ≈ 0.75 个中文字符，≈ 4 个英文字符，设置为 100000\
          \ 字符（留出余量给其他输入）\n    max_chars = max_tokens\n    \n    if original_length\
          \ <= max_chars:\n        # 不需要裁剪\n        return {\n            \"truncated_text\"\
          : ocr_text,\n            \"original_length\": original_length,\n       \
          \     \"truncated_length\": original_length,\n            \"is_truncated\"\
          : False\n        }\n    \n\n    # 策略：保留前 80% 和后 20%\n    front_chars = int(max_chars\
          \ * 0.8)\n    back_chars = int(max_chars * 0.2)\n    \n    truncated_text\
          \ = (\n        ocr_text[:front_chars] + \n        \"\\n\\n[... 中间部分已省略 ...]\\\
          n\\n\" + \n        ocr_text[-back_chars:]\n    )\n    \n    return {\n \
          \       \"truncated_text\": truncated_text,\n        \"original_length\"\
          : original_length,\n        \"truncated_length\": len(truncated_text),\n\
          \        \"is_truncated\": True\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          is_truncated:
            children: null
            type: boolean
          original_length:
            children: null
            type: number
          truncated_length:
            children: null
            type: number
          truncated_text:
            children: null
            type: string
        selected: false
        title: truncated_text
        type: code
        variables:
        - value_selector:
          - '1772791200305'
          - text
          value_type: string
          variable: ocr_text
      height: 50
      id: '1770554824578'
      parentId: '1768746557884'
      position:
        x: 1735.4565028618445
        y: 76.48220225318448
      positionAbsolute:
        x: -10.935363539054833
        y: -182.8567390926646
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import re\n\ndef main(merged_paper: dict, arxiv_id: str) -> dict:\n\
          \    code_url       = (merged_paper or {}).get('code_url', 'N/A') or 'N/A'\n\
          \    hf_github_repo = (merged_paper or {}).get('hf_github_repo', '') or\
          \ ''\n    github_api_url = 'https://api.github.com'  # fallback\n\n    #\
          \ HF论文优先用 githubRepo，ArXiv 论文用 LLM 提取的 code_url\n    github_source = hf_github_repo\
          \ if hf_github_repo else code_url\n\n    if github_source and github_source\
          \ not in ('N/A', ''):\n        if 'github.com' in github_source.lower():\n\
          \            match = re.search(r'github\\.com/([^/\\s?#]+/[^/\\s?#]+)',\
          \ github_source)\n            if match:\n                repo_path = match.group(1).rstrip('/').rstrip('.git').rstrip('/')\n\
          \                github_api_url = f'https://api.github.com/repos/{repo_path}'\n\
          \n    hf_papers_url = f'https://huggingface.co/papers/{arxiv_id}'\n\n  \
          \  return {\n        'github_api_url': github_api_url,\n        'hf_papers_url':\
          \ hf_papers_url,\n    }\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          github_api_url:
            children: null
            type: string
          hf_papers_url:
            children: null
            type: string
        selected: false
        title: 构建API请求URL
        type: code
        variables:
        - value_selector:
          - '1768808667129'
          - merged_paper
          value_type: object
          variable: merged_paper
        - value_selector:
          - '1768808528449'
          - arxiv_id
          value_type: string
          variable: arxiv_id
      height: 50
      id: '1772600001'
      parentId: '1768746557884'
      position:
        x: 2610
        y: 30
      positionAbsolute:
        x: 863.6081335991007
        y: -229.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        default_value:
        - key: body
          type: string
          value: ''
        - key: status_code
          type: number
          value: 0
        - key: headers
          type: object
          value: '{}'
        error_strategy: default-value
        headers: 'User-Agent:PaperEssence-Bot

          Accept:application/vnd.github.v3+json'
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 10
          max_write_timeout: 10
        title: GitHub Stars API
        type: http-request
        url: '{{#1772600001.github_api_url#}}'
        variables: []
      height: 158
      id: '1772600002'
      parentId: '1768746557884'
      position:
        x: 2910
        y: 20
      positionAbsolute:
        x: 1163.6081335991007
        y: -239.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        default_value:
        - key: body
          type: string
          value: ''
        - key: status_code
          type: number
          value: 0
        - key: headers
          type: object
          value: '{}'
        error_strategy: default-value
        headers: User-Agent:PaperEssence-Bot
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        method: get
        params: ''
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 500
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 10
          max_write_timeout: 10
        title: Altmetric热度检查
        type: http-request
        url: https://huggingface.co/papers/{{#1768808528449.arxiv_id#}}
        variables: []
      height: 174
      id: '1772600003'
      parentId: '1768746557884'
      position:
        x: 2910
        y: 145
      positionAbsolute:
        x: 1163.6081335991007
        y: -114.3389413458491
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(merged_paper: dict, github_body: str,\n   \
          \            github_status: int, altmetric_body: str,\n               altmetric_status:\
          \ int) -> dict:\n    paper = dict(merged_paper) if merged_paper else {}\n\
          \    source = paper.get('source', 'arxiv')\n\n    # ── GitHub Stars ──\n\
          \    star_count = 0\n    github_stars_display = 'N/A'\n    hf_github_stars\
          \ = paper.get('hf_github_stars', 0) or 0\n\n    if source == 'hf' and hf_github_stars\
          \ > 0:\n        # HF papers: use pre-fetched star count directly\n     \
          \   star_count = hf_github_stars\n        github_stars_display = f'⭐ {star_count:,}\
          \ stars'\n        if star_count >= 100:\n            github_stars_display\
          \ += ' ✅'\n    else:\n        try:\n            if github_status == 200\
          \ and github_body:\n                gh_data = json.loads(github_body)\n\
          \                star_count = gh_data.get('stargazers_count', 0) or 0\n\
          \                if star_count > 0:\n                    github_stars_display\
          \ = f'⭐ {star_count:,} stars'\n                    if star_count >= 100:\n\
          \                        github_stars_display += ' ✅'\n        except Exception:\n\
          \            pass\n\n    # ── X.com 热度 ──\n    if source == 'hf':\n    \
          \    x_hot = True\n        upvotes = paper.get('upvotes', 0) or 0\n    \
          \    x_heat_display = f'⬆ {upvotes} upvotes（HuggingFace Papers 社区热度）'\n\
          \    else:\n        x_hot = (altmetric_status == 200)\n        x_heat_display\
          \ = '⬆ HuggingFace Papers 已收录' if x_hot else '—'\n\n    paper['github_star_count']\
          \    = star_count\n    paper['github_stars_display'] = github_stars_display\n\
          \    paper['x_hot']                = x_hot\n    paper['x_heat_display']\
          \       = x_heat_display\n    paper['hf_papers_url']        = f\"https://huggingface.co/papers/{paper.get('arxiv_id',\
          \ '')}\"\n\n    return {'enriched_paper': paper}\n"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          enriched_paper:
            children: null
            type: object
        selected: false
        title: 数据富化
        type: code
        variables:
        - value_selector:
          - '1768808667129'
          - merged_paper
          value_type: object
          variable: merged_paper
        - value_selector:
          - '1772600002'
          - body
          value_type: string
          variable: github_body
        - value_selector:
          - '1772600002'
          - status_code
          value_type: number
          variable: github_status
        - value_selector:
          - '1772600003'
          - body
          value_type: string
          variable: altmetric_body
        - value_selector:
          - '1772600003'
          - status_code
          value_type: number
          variable: altmetric_status
      height: 50
      id: '1772600004'
      parentId: '1768746557884'
      position:
        x: 3210
        y: 76.2328183693233
      positionAbsolute:
        x: 1463.6081335991007
        y: -183.1061229765258
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: ernie-4.5-turbo-128k-preview
          provider: paddle-aistudio/ernie-paddle-aistudio/ernie-paddle-aistudio-api
        prompt_template:
        - id: summary-llm-system-001
          role: system
          text: '# Role

            你是一位资深 AI 研究员，负责为研究者撰写每日论文推送的导读总结。


            # Task

            以下是本次精选的 {{#1768746557884.output#}} 篇论文的基本信息。

            请完成两项任务：


            **Task 1 - 系列关联分析**：分析这几篇论文之间的内在联系，

            说明它们共同构成了一个怎样的研究脉络或系列。

            如果方向各有侧重，请解释它们共同指向的研究趋势。


            **Task 2 - 导读总结**：撰写一段 150-200 字的总结，

            用于放在邮件最开头，帮助读者快速了解本期推送的主题和价值。

            语气专业但不晦涩，让研究者在 30 秒内抓住重点。


            # Input

            {{#1768746557884.output#}}


            # Output Format

            直接输出总结文本，不要添加标题或 Markdown 格式。

            开头用一句话点明本期主题，然后展开介绍各篇的关联。'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: 系列论文总结
        type: llm
        vision:
          enabled: false
      height: 115
      id: '1772600005'
      position:
        x: 1899.9999999999993
        y: -484
      positionAbsolute:
        x: 1899.9999999999993
        y: -484
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        default_value:
        - key: body
          type: string
          value: ''
        - key: status_code
          type: number
          value: 0
        - key: headers
          type: object
          value: '{}'
        error_strategy: default-value
        headers: 'User-Agent:PaperEssence-Bot

          Accept:application/json'
        isInIteration: false
        isInLoop: false
        method: get
        params: 'q:{{#1770443235033.text#}}

          limit:50'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1500
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 15
          max_read_timeout: 15
          max_write_timeout: 15
        title: HF Papers Search
        type: http-request
        url: https://huggingface.co/api/papers/search
        variables: []
      height: 171
      id: '1780000001'
      position:
        x: 252.9
        y: -920
      positionAbsolute:
        x: 252.9
        y: -920
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\n\ndef main(hf_body: str, supabase_output: list = None)\
          \ -> dict:\n    pushed_ids = set()\n    if supabase_output and isinstance(supabase_output,\
          \ list):\n        def extract_ids(obj):\n            ids = []\n        \
          \    if isinstance(obj, dict):\n                if \"arxiv_id\" in obj:\n\
          \                    val = obj[\"arxiv_id\"]\n                    if val:\n\
          \                        ids.append(str(val).strip().split('v')[0])\n  \
          \              for k, v in obj.items():\n                    ids.extend(extract_ids(v))\n\
          \            elif isinstance(obj, list):\n                for item in obj:\n\
          \                    ids.extend(extract_ids(item))\n            return ids\n\
          \        pushed_ids = set(extract_ids(supabase_output))\n\n    try:\n  \
          \      raw = json.loads(hf_body) if hf_body else []\n        if not isinstance(raw,\
          \ list):\n            raw = []\n\n        papers = []\n        for item\
          \ in raw:\n            paper_info = item.get('paper', item)\n          \
          \  arxiv_id = paper_info.get('id', '')\n            if not arxiv_id:\n \
          \               continue\n            clean_id = arxiv_id.strip().split('v')[0]\n\
          \            if clean_id in pushed_ids:\n                continue\n\n  \
          \          authors_raw = paper_info.get('authors', [])\n            names\
          \ = [a.get('name', '') for a in authors_raw[:3] if isinstance(a, dict)]\n\
          \            authors_str = ', '.join(names)\n            if len(authors_raw)\
          \ > 3:\n                authors_str += ' et al.'\n\n            pub = paper_info.get('publishedAt',\
          \ '') or ''\n            papers.append({\n                'arxiv_id': clean_id,\n\
          \                'title': paper_info.get('title', 'No Title'),\n       \
          \         'summary': paper_info.get('summary', ''),\n                'authors':\
          \ authors_str,\n                'published': pub[:10] if pub else '',\n\
          \                'pdf_url': f\"https://arxiv.org/pdf/{clean_id}.pdf\",\n\
          \                'upvotes': paper_info.get('upvotes', 0) or 0,\n       \
          \         'githubRepo': paper_info.get('githubRepo', '') or '',\n      \
          \          'githubStars': paper_info.get('githubStars', 0) or 0,\n     \
          \           'source': 'hf',\n                'comment': 'N/A',\n       \
          \     })\n\n        papers.sort(key=lambda x: x.get('upvotes', 0), reverse=True)\n\
          \n        return {\n            'hf_papers_json': json.dumps(papers, ensure_ascii=False),\n\
          \            'hf_count': len(papers),\n        }\n    except Exception as\
          \ e:\n        return {'hf_papers_json': '[]', 'hf_count': 0}\n"
        code_language: python3
        isInIteration: false
        isInLoop: false
        outputs:
          hf_count:
            children: null
            type: number
          hf_papers_json:
            children: null
            type: string
        selected: false
        title: HF结果解析过滤
        type: code
        variables:
        - value_selector:
          - '1780000001'
          - body
          value_type: string
          variable: hf_body
        - value_selector:
          - '1769954998188'
          - json
          value_type: array[object]
          variable: supabase_output
      height: 50
      id: '1780000002'
      position:
        x: 540
        y: -920
      positionAbsolute:
        x: 540
        y: -920
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≥
            id: hf-count-check
            value: '3'
            varType: number
            variable_selector:
            - '1780000002'
            - hf_count
          logical_operator: and
        selected: false
        title: 'IF: HF结果充足(≥3篇)'
        type: if-else
      height: 122
      id: '1780000003'
      position:
        x: 804
        y: -920
      positionAbsolute:
        x: 804
        y: -920
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        code: "import json\nfrom datetime import datetime, timedelta\n\ndef main(\n\
          \    hf_papers_json: str = '[]',\n    hf_count: int = 0,\n    arxiv_result:\
          \ str = '[]',\n    arxiv_count: int = 0,\n    days_lookback: int = 900,\n\
          ) -> dict:\n    today = datetime.now()\n    days = int(days_lookback) if\
          \ days_lookback else 900\n    cutoff_date = today - timedelta(days=days)\n\
          \    cutoff_str = cutoff_date.strftime('%Y-%m-%d')\n    today_str = today.strftime('%Y-%m-%d')\n\
          \n    hf_ok = (hf_count or 0) >= 3\n    if hf_ok and hf_papers_json and\
          \ hf_papers_json != '[]':\n        return {\n            'result': hf_papers_json,\n\
          \            'count': hf_count,\n            'source': 'hf',\n         \
          \   'cutoff_str': cutoff_str,\n            'today_str': today_str,\n   \
          \     }\n    else:\n        return {\n            'result': arxiv_result\
          \ if arxiv_result else '[]',\n            'count': arxiv_count or 0,\n \
          \           'source': 'arxiv',\n            'cutoff_str': cutoff_str,\n\
          \            'today_str': today_str,\n        }\n"
        code_language: python3
        default_value:
        - key: result
          type: string
          value: '[]'
        - key: count
          type: number
          value: 0
        - key: source
          type: string
          value: arxiv
        - key: cutoff_str
          type: string
          value: ''
        - key: today_str
          type: string
          value: ''
        error_strategy: default-value
        isInIteration: false
        isInLoop: false
        outputs:
          count:
            children: null
            type: number
          cutoff_str:
            children: null
            type: string
          result:
            children: null
            type: string
          source:
            children: null
            type: string
          today_str:
            children: null
            type: string
        selected: false
        title: 合并搜索结果
        type: code
        variables:
        - value_selector:
          - '1780000002'
          - hf_papers_json
          value_type: string
          variable: hf_papers_json
        - value_selector:
          - '1780000002'
          - hf_count
          value_type: number
          variable: hf_count
        - value_selector:
          - '1770469838682'
          - result
          value_type: string
          variable: arxiv_result
        - value_selector:
          - '1770469838682'
          - count
          value_type: number
          variable: arxiv_count
        - value_selector:
          - '1769347686844'
          - days_lookback
          value_type: number
          variable: days_lookback
      height: 86
      id: '1780000004'
      position:
        x: 1080
        y: -920
      positionAbsolute:
        x: 1080
        y: -920
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
    - data:
        default_value:
        - key: text
          type: string
          value: ''
        - key: json
          type: array[object]
          value: '[]'
        error_strategy: default-value
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1768746557884'
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file. The URL must be publicly accessible.
            ja_JP: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file. The URL must be publicly accessible.
            pt_BR: The URL of an image or PDF file, or the Base64-encoded result of
              the content of such a file. The URL must be publicly accessible.
            zh_Hans: 图像文件或 PDF 文件的 URL，或上述类型文件内容的 Base64 编码结果。URL 必须是公网可访问的。
          label:
            en_US: File
            ja_JP: File
            pt_BR: File
            zh_Hans: 文件
          llm_description: The URL of an image or PDF file, or the Base64-encoded
            result of the content of such a file. The URL must be publicly accessible.
          max: null
          min: null
          name: file
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: File type. "Auto Detect" will infer the type from URL, "PDF" for
              PDF files, "Image" for image files.
            ja_JP: File type. "Auto Detect" will infer the type from URL, "PDF" for
              PDF files, "Image" for image files.
            pt_BR: File type. "Auto Detect" will infer the type from URL, "PDF" for
              PDF files, "Image" for image files.
            zh_Hans: 文件类型。"自动检测" 将根据 URL 推断类型，"PDF" 表示 PDF 文件，"图片" 表示图像文件。
          label:
            en_US: File Type
            ja_JP: File Type
            pt_BR: File Type
            zh_Hans: 文件类型
          llm_description: File type. "auto" will infer the type from URL, "pdf" for
            PDF files, "image" for image files.
          max: null
          min: null
          name: fileType
          options:
          - icon: ''
            label:
              en_US: Auto Detect
              ja_JP: Auto Detect
              pt_BR: Auto Detect
              zh_Hans: 自动检测
            value: auto
          - icon: ''
            label:
              en_US: PDF
              ja_JP: PDF
              pt_BR: PDF
              zh_Hans: PDF
            value: pdf
          - icon: ''
            label:
              en_US: Image
              ja_JP: Image
              pt_BR: Image
              zh_Hans: 图片
            value: image
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            ja_JP: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            pt_BR: Whether to enable the document orientation classification function.
              Enabling this feature allows the input image to be automatically rotated
              to the correct orientation.
            zh_Hans: 是否启用文档方向分类功能。启用该功能可以将输入图像自动转正。
          label:
            en_US: Whether to Enable Document Orientation Classification
            ja_JP: Whether to Enable Document Orientation Classification
            pt_BR: Whether to Enable Document Orientation Classification
            zh_Hans: 是否启用文档方向分类
          llm_description: Whether to enable the document orientation classification
            function. Enabling this feature allows the input image to be automatically
            rotated to the correct orientation. Keep this feature disabled unless
            the user ask for it.
          max: null
          min: null
          name: useDocOrientationClassify
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            ja_JP: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            pt_BR: Whether to enable the text image unwarping function. Enabling this
              feature allows automatic correction of distorted text images.
            zh_Hans: 是否启用文本图像矫正功能。启用该功能可以对发生畸变的文本图像进行自动矫正。
          label:
            en_US: Whether to Enable Text Image Unwarping
            ja_JP: Whether to Enable Text Image Unwarping
            pt_BR: Whether to Enable Text Image Unwarping
            zh_Hans: 是否启用文本图像矫正
          llm_description: Whether to enable the text image unwarping function. Enabling
            this feature allows automatic correction of distorted text images. Keep
            this feature disabled unless the user ask for it.
          max: null
          min: null
          name: useDocUnwarping
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to enable the layout detection function.
            ja_JP: Whether to enable the layout detection function.
            pt_BR: Whether to enable the layout detection function.
            zh_Hans: 是否启用版面检测功能。
          label:
            en_US: Whether to Enable Layout Detection
            ja_JP: Whether to Enable Layout Detection
            pt_BR: Whether to Enable Layout Detection
            zh_Hans: 是否启用版面检测
          llm_description: Whether to enable the layout detection function.
          max: null
          min: null
          name: useLayoutDetection
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the chart recognition function (to recognize
              line charts, bar charts, etc.).
            ja_JP: Whether to enable the chart recognition function (to recognize
              line charts, bar charts, etc.).
            pt_BR: Whether to enable the chart recognition function (to recognize
              line charts, bar charts, etc.).
            zh_Hans: 是否启用图表识别功能（识别折线图、柱状图等）。
          label:
            en_US: Whether to Enable Chart Recognition
            ja_JP: Whether to Enable Chart Recognition
            pt_BR: Whether to Enable Chart Recognition
            zh_Hans: 是否启用图表识别
          llm_description: Whether to enable the chart recognition function (to recognize
            line charts, bar charts, etc.).
          max: null
          min: null
          name: useChartRecognition
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to enable the seal recognition function.
            ja_JP: Whether to enable the seal recognition function.
            pt_BR: Whether to enable the seal recognition function.
            zh_Hans: 是否启用印章文本识别功能。
          label:
            en_US: Whether to Enable Seal Recognition
            ja_JP: Whether to Enable Seal Recognition
            pt_BR: Whether to Enable Seal Recognition
            zh_Hans: 是否启用印章文本识别
          llm_description: Whether to enable the seal recognition function.
          max: null
          min: null
          name: useSealRecognition
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Whether to recognize text in images blocks.
            ja_JP: Whether to recognize text in images blocks.
            pt_BR: Whether to recognize text in images blocks.
            zh_Hans: 是否对图像块中的文字进行识别。
          label:
            en_US: Whether to Recognize Text in Image Blocks
            ja_JP: Whether to Recognize Text in Image Blocks
            pt_BR: Whether to Recognize Text in Image Blocks
            zh_Hans: 是否对图像块中的文字进行识别
          llm_description: Whether to recognize text in images blocks.
          max: null
          min: null
          name: useOcrForImageBlock
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to perform NMS on layout detection results.
            ja_JP: Whether to perform NMS on layout detection results.
            pt_BR: Whether to perform NMS on layout detection results.
            zh_Hans: 是否对版面检测结果进行 NMS。
          label:
            en_US: Whether to Perform NMS on Layout Detection Results
            ja_JP: Whether to Perform NMS on Layout Detection Results
            pt_BR: Whether to Perform NMS on Layout Detection Results
            zh_Hans: 是否对版面检测结果进行 NMS
          llm_description: Whether to perform NMS on layout detection results.
          max: null
          min: null
          name: layoutNms
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: auto
          form: llm
          human_description:
            en_US: Specifies the geometric representation mode for layout detection
              results. It defines how the boundaries of detected regions (e.g., text
              blocks, images, tables) are calculated and displayed. "Rectangle" corresponds
              to an axis-aligned bounding box (x1, y1, x2, y2) and is suitable for
              standard horizontally laid-out pages; "Quadrilateral" corresponds to
              an arbitrary four-sided shape defined by four vertices and is suitable
              for regions with skew or perspective distortion; "Polygon" corresponds
              to a closed contour defined by multiple coordinate points and is suitable
              for irregularly shaped or curved layout elements, offering the highest
              precision; "Auto" indicates that the system automatically selects the
              most appropriate shape representation based on the complexity and confidence
              of the detected targets.
            ja_JP: Specifies the geometric representation mode for layout detection
              results. It defines how the boundaries of detected regions (e.g., text
              blocks, images, tables) are calculated and displayed. "Rectangle" corresponds
              to an axis-aligned bounding box (x1, y1, x2, y2) and is suitable for
              standard horizontally laid-out pages; "Quadrilateral" corresponds to
              an arbitrary four-sided shape defined by four vertices and is suitable
              for regions with skew or perspective distortion; "Polygon" corresponds
              to a closed contour defined by multiple coordinate points and is suitable
              for irregularly shaped or curved layout elements, offering the highest
              precision; "Auto" indicates that the system automatically selects the
              most appropriate shape representation based on the complexity and confidence
              of the detected targets.
            pt_BR: Specifies the geometric representation mode for layout detection
              results. It defines how the boundaries of detected regions (e.g., text
              blocks, images, tables) are calculated and displayed. "Rectangle" corresponds
              to an axis-aligned bounding box (x1, y1, x2, y2) and is suitable for
              standard horizontally laid-out pages; "Quadrilateral" corresponds to
              an arbitrary four-sided shape defined by four vertices and is suitable
              for regions with skew or perspective distortion; "Polygon" corresponds
              to a closed contour defined by multiple coordinate points and is suitable
              for irregularly shaped or curved layout elements, offering the highest
              precision; "Auto" indicates that the system automatically selects the
              most appropriate shape representation based on the complexity and confidence
              of the detected targets.
            zh_Hans: 用于指定版面检测结果的几何形状表示模式。该参数决定了检测区域（如文本块、图片、表格等）边界的计算方式及展示形态。“矩形”对应水平正向的边界框（包含
              x1, y1, x2, y2），适用于标准的水平排版版面；“四边形”对应由四个顶点组成的任意四边形，适用于存在倾斜、透视变形的区域；“多边形”对应由多个坐标点组成的闭合轮廓，适用于形状不规则或具有弧度的版面元素，精度最高；“自动”指示系统根据检测目标的复杂程度和置信度，自动选择最合适的形状表达方式。
          label:
            en_US: Layout Detection Shape Mode
            ja_JP: Layout Detection Shape Mode
            pt_BR: Layout Detection Shape Mode
            zh_Hans: 版面检测形状模式
          llm_description: Specifies the geometric representation mode for layout
            detection results. It defines how the boundaries of detected regions (e.g.,
            text blocks, images, tables) are calculated and displayed. "rect" corresponds
            to an axis-aligned bounding box (x1, y1, x2, y2) and is suitable for standard
            horizontally laid-out pages; "quad" corresponds to an arbitrary four-sided
            shape defined by four vertices and is suitable for regions with skew or
            perspective distortion; "poly" corresponds to a closed contour defined
            by multiple coordinate points and is suitable for irregularly shaped or
            curved layout elements, offering the highest precision; "auto" indicates
            that the system automatically selects the most appropriate shape representation
            based on the complexity and confidence of the detected targets.
          max: null
          min: null
          name: layoutShapeMode
          options:
          - icon: ''
            label:
              en_US: Rectangle
              ja_JP: Rectangle
              pt_BR: Rectangle
              zh_Hans: 矩形
            value: rect
          - icon: ''
            label:
              en_US: Quadrilateral
              ja_JP: Quadrilateral
              pt_BR: Quadrilateral
              zh_Hans: 四边形
            value: quad
          - icon: ''
            label:
              en_US: Polygon
              ja_JP: Polygon
              pt_BR: Polygon
              zh_Hans: 多边形
            value: poly
          - icon: ''
            label:
              en_US: Auto
              ja_JP: Auto
              pt_BR: Auto
              zh_Hans: 自动
            value: auto
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: undefined
          form: llm
          human_description:
            en_US: Prompt type for the VLM. Takes effect only when layout detection
              is disabled.
            ja_JP: Prompt type for the VLM. Takes effect only when layout detection
              is disabled.
            pt_BR: Prompt type for the VLM. Takes effect only when layout detection
              is disabled.
            zh_Hans: VLM 的提示词类型。仅当禁用版面检测时有效。
          label:
            en_US: Prompt Type for the VLM
            ja_JP: Prompt Type for the VLM
            pt_BR: Prompt Type for the VLM
            zh_Hans: VLM 的提示词类型
          llm_description: Prompt type for the VLM. Takes effect only when layout
            detection is disabled.
          max: null
          min: null
          name: promptLabel
          options:
          - icon: ''
            label:
              en_US: OCR
              ja_JP: OCR
              pt_BR: OCR
              zh_Hans: OCR
            value: ocr
          - icon: ''
            label:
              en_US: Formula Recognition
              ja_JP: Formula Recognition
              pt_BR: Formula Recognition
              zh_Hans: 公式识别
            value: formula
          - icon: ''
            label:
              en_US: Table Recognition
              ja_JP: Table Recognition
              pt_BR: Table Recognition
              zh_Hans: 表格识别
            value: table
          - icon: ''
            label:
              en_US: Chart Recognition
              ja_JP: Chart Recognition
              pt_BR: Chart Recognition
              zh_Hans: 图表识别
            value: chart
          - icon: ''
            label:
              en_US: Seal Recognition
              ja_JP: Seal Recognition
              pt_BR: Seal Recognition
              zh_Hans: 印章文本识别
            value: seal
          - icon: ''
            label:
              en_US: Spotting
              ja_JP: Spotting
              pt_BR: Spotting
              zh_Hans: Spotting
            value: spotting
          - icon: ''
            label:
              en_US: Undefined
              ja_JP: Undefined
              pt_BR: Undefined
              zh_Hans: 未定义
            value: undefined
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to convert the block content into Markdown format.
            ja_JP: Whether to convert the block content into Markdown format.
            pt_BR: Whether to convert the block content into Markdown format.
            zh_Hans: 是否将块内容转换为 Markdown 格式。
          label:
            en_US: Whether to Format Block Content
            ja_JP: Whether to Format Block Content
            pt_BR: Whether to Format Block Content
            zh_Hans: 是否格式化块内容
          llm_description: Whether to convert the block content into Markdown format.
          max: null
          min: null
          name: formatBlockContent
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Repetition penalty parameter used in VLM sampling.
            ja_JP: Repetition penalty parameter used in VLM sampling.
            pt_BR: Repetition penalty parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的重复惩罚参数。
          label:
            en_US: Repetition Penalty Parameter Used in VLM Sampling
            ja_JP: Repetition Penalty Parameter Used in VLM Sampling
            pt_BR: Repetition Penalty Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的重复惩罚参数
          llm_description: Repetition penalty parameter used in VLM sampling.
          max: null
          min: null
          name: repetitionPenalty
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Temperature parameter used in VLM sampling.
            ja_JP: Temperature parameter used in VLM sampling.
            pt_BR: Temperature parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的温度参数。
          label:
            en_US: Temperature Parameter Used in VLM Sampling
            ja_JP: Temperature Parameter Used in VLM Sampling
            pt_BR: Temperature Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的温度参数
          llm_description: Temperature parameter used in VLM sampling.
          max: null
          min: null
          name: temperature
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Top-p parameter used in VLM sampling.
            ja_JP: Top-p parameter used in VLM sampling.
            pt_BR: Top-p parameter used in VLM sampling.
            zh_Hans: VLM 采样时使用的 top-p 参数。
          label:
            en_US: Top-p Parameter Used in VLM Sampling
            ja_JP: Top-p Parameter Used in VLM Sampling
            pt_BR: Top-p Parameter Used in VLM Sampling
            zh_Hans: VLM 采样时使用的 top-p 参数
          llm_description: Top-p parameter used in VLM sampling.
          max: null
          min: null
          name: topP
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Minimum number of pixels allowed during VLM preprocessing.
            ja_JP: Minimum number of pixels allowed during VLM preprocessing.
            pt_BR: Minimum number of pixels allowed during VLM preprocessing.
            zh_Hans: VLM 预处理时允许的最小像素数。
          label:
            en_US: Minimum Number of Pixels Allowed During VLM Preprocessing.
            ja_JP: Minimum Number of Pixels Allowed During VLM Preprocessing.
            pt_BR: Minimum Number of Pixels Allowed During VLM Preprocessing.
            zh_Hans: VLM 预处理时允许的最小像素数。
          llm_description: Minimum number of pixels allowed during VLM preprocessing.
          max: null
          min: null
          name: minPixels
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum number of pixels allowed during VLM preprocessing.
            ja_JP: Maximum number of pixels allowed during VLM preprocessing.
            pt_BR: Maximum number of pixels allowed during VLM preprocessing.
            zh_Hans: VLM 预处理时允许的最大像素数。
          label:
            en_US: Maximum Number of Pixels Allowed During VLM Preprocessing.
            ja_JP: Maximum Number of Pixels Allowed During VLM Preprocessing.
            pt_BR: Maximum Number of Pixels Allowed During VLM Preprocessing.
            zh_Hans: VLM 预处理时允许的最大像素数。
          llm_description: Maximum number of pixels allowed during VLM preprocessing.
          max: null
          min: null
          name: maxPixels
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Maximum number of new tokens to generate.
            ja_JP: Maximum number of new tokens to generate.
            pt_BR: Maximum number of new tokens to generate.
            zh_Hans: 生成的最大新令牌数。
          label:
            en_US: Maximum Number of New Tokens
            ja_JP: Maximum Number of New Tokens
            pt_BR: Maximum Number of New Tokens
            zh_Hans: 最大新令牌数
          llm_description: Maximum number of new tokens to generate.
          max: null
          min: null
          name: maxNewTokens
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Whether to merge layout blocks.
            ja_JP: Whether to merge layout blocks.
            pt_BR: Whether to merge layout blocks.
            zh_Hans: 是否合并版面块。
          label:
            en_US: Whether to Merge Layout Blocks
            ja_JP: Whether to Merge Layout Blocks
            pt_BR: Whether to Merge Layout Blocks
            zh_Hans: 是否合并版面块
          llm_description: Whether to merge layout blocks.
          max: null
          min: null
          name: mergeLayoutBlocks
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 'Comma-separated list of labels to ignore when generating Markdown
              output. For example: "header,footer,page_number".'
            ja_JP: 'Comma-separated list of labels to ignore when generating Markdown
              output. For example: "header,footer,page_number".'
            pt_BR: 'Comma-separated list of labels to ignore when generating Markdown
              output. For example: "header,footer,page_number".'
            zh_Hans: 生成 Markdown 输出时要忽略的标签列表，使用逗号分隔。例如："header,footer,page_number"。
          label:
            en_US: Labels to Ignore in Markdown Output
            ja_JP: Labels to Ignore in Markdown Output
            pt_BR: Labels to Ignore in Markdown Output
            zh_Hans: Markdown 输出中忽略的标签
          llm_description: 'Comma-separated list of labels to ignore when generating
            Markdown output. For example: "header,footer,page_number".'
          max: null
          min: null
          name: markdownIgnoreLabels
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to prettify the output Markdown text.
            ja_JP: Whether to prettify the output Markdown text.
            pt_BR: Whether to prettify the output Markdown text.
            zh_Hans: 是否美化输出的 Markdown 文本。
          label:
            en_US: Whether to Prettify the Output Markdown Text
            ja_JP: Whether to Prettify the Output Markdown Text
            pt_BR: Whether to Prettify the Output Markdown Text
            zh_Hans: 是否美化输出的 Markdown 文本
          llm_description: Whether to prettify the output Markdown text.
          max: null
          min: null
          name: prettifyMarkdown
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to include formula numbers in the output markdown text.
            ja_JP: Whether to include formula numbers in the output markdown text.
            pt_BR: Whether to include formula numbers in the output markdown text.
            zh_Hans: 是否在输出的 Markdown 文本中包含公式编号。
          label:
            en_US: Whether to Include Formula Numbers in the Output Markdown Text
            ja_JP: Whether to Include Formula Numbers in the Output Markdown Text
            pt_BR: Whether to Include Formula Numbers in the Output Markdown Text
            zh_Hans: 是否在输出的 Markdown 文本中包含公式编号
          llm_description: Whether to include formula numbers in the output markdown
            text.
          max: null
          min: null
          name: showFormulaNumber
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether to restructure pages in the output.
            ja_JP: Whether to restructure pages in the output.
            pt_BR: Whether to restructure pages in the output.
            zh_Hans: 是否对输出页面进行重构。
          label:
            en_US: Whether to Restructure Pages
            ja_JP: Whether to Restructure Pages
            pt_BR: Whether to Restructure Pages
            zh_Hans: 是否重构页面
          llm_description: Whether to restructure pages in the output.
          max: null
          min: null
          name: restructurePages
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to merge tables across pages in the output. Takes effect
              only when restructuring pages is on.
            ja_JP: Whether to merge tables across pages in the output. Takes effect
              only when restructuring pages is on.
            pt_BR: Whether to merge tables across pages in the output. Takes effect
              only when restructuring pages is on.
            zh_Hans: 是否在输出中合并表格。仅在启用页面重构时有效。
          label:
            en_US: Whether to Merge Tables across Pages
            ja_JP: Whether to Merge Tables across Pages
            pt_BR: Whether to Merge Tables across Pages
            zh_Hans: 是否合并跨页表格
          llm_description: Whether to merge tables across pages in the output. Takes
            effect only when restructuring pages is on.
          max: null
          min: null
          name: mergeTables
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: true
          form: llm
          human_description:
            en_US: Whether to relevel titles in the output. Takes effect only when
              restructuring pages is on.
            ja_JP: Whether to relevel titles in the output. Takes effect only when
              restructuring pages is on.
            pt_BR: Whether to relevel titles in the output. Takes effect only when
              restructuring pages is on.
            zh_Hans: 是否在输出中重新调整标题级别。仅在启用页面重构时有效。
          label:
            en_US: Whether to Relevel Titles
            ja_JP: Whether to Relevel Titles
            pt_BR: Whether to Relevel Titles
            zh_Hans: 是否重新调整标题级别
          llm_description: Whether to relevel titles in the output. Takes effect only
            when restructuring pages is on.
          max: null
          min: null
          name: relevelTitles
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: false
          form: llm
          human_description:
            en_US: Whether or not to return visualization results.
            ja_JP: Whether or not to return visualization results.
            pt_BR: Whether or not to return visualization results.
            zh_Hans: 是否返回可视化结果。
          label:
            en_US: Whether to Return Visualization Results
            ja_JP: Whether to Return Visualization Results
            pt_BR: Whether to Return Visualization Results
            zh_Hans: 是否返回可视化结果
          llm_description: Whether or not to return visualization results.
          max: null
          min: null
          name: visualize
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        params:
          file: ''
          fileType: ''
          formatBlockContent: ''
          layoutNms: ''
          layoutShapeMode: ''
          markdownIgnoreLabels: ''
          maxNewTokens: ''
          maxPixels: ''
          mergeLayoutBlocks: ''
          mergeTables: ''
          minPixels: ''
          prettifyMarkdown: ''
          promptLabel: ''
          relevelTitles: ''
          repetitionPenalty: ''
          restructurePages: ''
          showFormulaNumber: ''
          temperature: ''
          topP: ''
          useChartRecognition: ''
          useDocOrientationClassify: ''
          useDocUnwarping: ''
          useLayoutDetection: ''
          useOcrForImageBlock: ''
          useSealRecognition: ''
          visualize: ''
        plugin_id: langgenius/paddleocr
        plugin_unique_identifier: langgenius/paddleocr:0.2.1@51eb09456be19a284571c18f9569e2a104ee138ef06e21183e2b7b1e26e4c49d
        provider_icon: https://cloud.dify.ai/console/api/workspaces/current/plugin/icon?tenant_id=1301167d-1b10-4e9b-be0d-37c629c3718b&filename=f6742a8ecae19d42dedb6641125203e86a70016f465191b85a3bbe1588234c80.png
        provider_id: langgenius/paddleocr/paddleocr
        provider_name: langgenius/paddleocr/paddleocr
        provider_type: builtin
        selected: false
        title: 大模型文档解析
        tool_configurations: {}
        tool_description: PaddleOCR 大模型文档解析工具，能够提取文档中的表格、公式、印章等信息，同时保留原始版面结构
        tool_label: 大模型文档解析
        tool_name: document_parsing_vl
        tool_node_version: '2'
        tool_parameters:
          file:
            type: mixed
            value: '{{#1772801585642.pdf_url_for_ocr#}}'
          fileType:
            type: constant
            value: pdf
          formatBlockContent:
            type: constant
            value: false
          layoutNms:
            type: constant
            value: true
          layoutShapeMode:
            type: constant
            value: auto
          markdownIgnoreLabels:
            type: mixed
            value: null
          maxNewTokens:
            type: constant
            value: null
          maxPixels:
            type: constant
            value: null
          mergeLayoutBlocks:
            type: constant
            value: null
          mergeTables:
            type: constant
            value: true
          minPixels:
            type: constant
            value: null
          prettifyMarkdown:
            type: constant
            value: true
          promptLabel:
            type: constant
            value: undefined
          relevelTitles:
            type: constant
            value: true
          repetitionPenalty:
            type: constant
            value: null
          restructurePages:
            type: constant
            value: false
          showFormulaNumber:
            type: constant
            value: false
          temperature:
            type: constant
            value: null
          topP:
            type: constant
            value: null
          useChartRecognition:
            type: constant
            value: false
          useDocOrientationClassify:
            type: constant
            value: false
          useDocUnwarping:
            type: constant
            value: false
          useLayoutDetection:
            type: constant
            value: true
          useOcrForImageBlock:
            type: constant
            value: null
          useSealRecognition:
            type: constant
            value: false
          visualize:
            type: constant
            value: false
        type: tool
      height: 86
      id: '1772791200305'
      parentId: '1768746557884'
      position:
        x: 1206.0976424969117
        y: 73.11401674232104
      positionAbsolute:
        x: -540.2942239039876
        y: -186.22492460352805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        default_value:
        - key: body
          type: string
          value: ''
        - key: status_code
          type: number
          value: 0
        - key: headers
          type: object
          value: '{}'
        error_strategy: default-value
        headers: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP 请求 5
        type: http-request
        url: '{{#1768808528449.pdf_url#}}'
        variables: []
      height: 158
      id: '1772800459834'
      parentId: '1768746557884'
      position:
        x: 587.9090436987867
        y: 135.25839596924726
      positionAbsolute:
        x: -1158.4828227021126
        y: -124.08054537660183
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    - data:
        code: "def main(files: list) -> dict:\n    if files and len(files) > 0:\n\
          \        url = files[0].get('url', '')\n        return {'pdf_url_for_ocr':\
          \ url}\n    return {'pdf_url_for_ocr': ''}"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1768746557884'
        outputs:
          pdf_url_for_ocr:
            children: null
            type: string
        selected: false
        title: 代码执行 13
        type: code
        variables:
        - value_selector:
          - '1772800459834'
          - files
          value_type: array[file]
          variable: files
      height: 50
      id: '1772801585642'
      parentId: '1768746557884'
      position:
        x: 887.9090436987868
        y: 203.46564146221507
      positionAbsolute:
        x: -858.4828227021125
        y: -55.87329988363402
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 241
      zIndex: 1002
    viewport:
      x: 798.6755935702804
      y: 832.4447434693777
      zoom: 0.6597539553864482
  rag_pipeline_variables: []
